[2018-09-06 06:34] samvthom16 opened #4 "Move plugin functions from the templates to site origin widgets"

[2018-09-06 06:54] samvthom16 opened #5 "First release"
- [x] Remove admin bar on frontend
- [x] Add logo to the theme folder
- [x] Replace content within the modals to be pulled dynamically from sidebars
- [x] Fix page header widget as discussed in comment below
- [x] Clock widget - needs to be full width, with the grey background. Might be good to allow the admin to edit the titles etc. Though the clock function is found within the functions.php so i

[2018-09-06 07:59] designbychris commented on #5
I have added code to remove the admin bar and I have added the logo to the theme folder (though it was already in images/logos within the folder structure)

[2018-09-06 08:41] designbychris commented on #5
Need to fix header image widget to force it full width within the code on the page.php all the content is within a container and is forcing the header image to stay within the container. Will need to force it to be wider/full width. See screenshot of the header.

![headerimage](https://user-images.githubusercontent.com/2072475/45145484-aa0ede00-b1b8-11e8-9734-d8a715d406fd.png)

Also suggest that w

[2018-09-06 09:07] designbychris commented on #5
Am going to add the list of all widgets that need to be generated here

[2018-09-06 10:14] samvthom16 commented on #5
@designbychris my suggestion would be to to keep all the content within .container-fluid. The nested content that would need .container can be done through the page builder using a css class or something. An example would be https://akvo.org/stories/europe/working-towards-sustainable-hazelnut-production-turkey-utz/

[2018-09-06 10:33] designbychris commented on #5
good plan on that @samvthom16 I will amend the container to be container-fluid and try from there.

[2018-09-06 10:42] designbychris commented on #5
Have fixed the content in the header widget :) so thats ok now. I will update the git shortly

[2018-09-06 10:55] designbychris commented on #5
Have added the widget areas to the modal windows

[2018-09-20 08:28] samvthom16 opened #17 "Stories Shortcode"
Create a stories shortcode that would pull the stories in this format here: https://designbychris.co.uk/akvo/newsite/europe.php

[2018-09-20 10:53] designbychris commented on #17
Have added this in and updated the shortcodes.php file

[2018-09-20 11:15] designbychris commented on #17
I have also added in the nested filter shortcode and updated the shortcodes.php file.

[2018-09-27 14:10] samvthom16 opened #23 "Setup metaboxes for page settings"

[2018-09-27 14:54] samvthom16 commented on #5
@designbychris as separate modules have been identified through shortcodes, their corresponding css can also be separated into individual scss files.

[2018-10-02 09:19] designbychris commented on #23
Is this the one you need me to look at Sam?

[2018-10-02 10:45] designbychris commented on #5
ahh ok.. I will make them into individual scss files for you, where would you like them to be put in the file structure? Would you like me to make them go in a new folder within the CSS folder called Shorcodes within the CSS folder /css/shortcodes/ or within a folder called css within the templates folder like this: /lib/templates/css either I can do for you :)

[2018-10-02 10:46] samvthom16 commented on #5
Lets keep them inside the css folder

[2018-10-02 10:49] designbychris commented on #5
ok no worries :) will aim to sort this for you today

[2018-10-24 09:00] samvthom16 opened #34 "Searchform not working properly"

[2018-10-24 09:17] samvthom16 opened #36 "Responsive issues"
- [x] Partner logos

[2018-10-29 11:16] designbychris opened #40 "Custom options for Akvo Slider"
Hi Sam :)

Can you fix it so that on pages the admins have an option to make the header shorter. So one size is the standard height that it currently is. But if they tick a tickbox in the backend on the page they want. It reduces the height of the title area to being like the one here: https://designbychris.co.uk/akvo/newsite/single3.php ?

Essentially making the height of the title area 450px if

[2018-10-29 11:45] samvthom16 opened #41 "Progress bar is green in color"

[2018-10-30 10:55] designbychris commented on #5
On the Multistage form.. It was discussed with Linda and we have decided to use Gravity Forms for this, as it allows for multistage forms without needing to code anything extra.

[2018-10-30 11:01] designbychris opened #45 "Custom Post Type Advert - Custom Field"
can you also sort something for me? Can you set a custom field within the Custom Post Type for Adverts called URL? I would use ACF but i'm not sure if you want to avoid that or not? As I need to have a way for people to set URLs for the adverts. Is that ok?

[2018-10-30 11:43] designbychris commented on #40
Another thing we need to add to the header area is a subtitle like on this page: https://designbychris.co.uk/akvo/newsite/europe.php If we can have an optional subtitle to display below the main one like this. That would be perfect :)

[2018-10-30 11:48] designbychris opened #46 "Custom Post Type Creation - Product Updates"
Hi Sam,
Can you create a new Custom Post Type with its own Taxonomies and Categories, please can this be called Product Updates?

It just needs to have content, title and then have its own Tags and Categories so that I can build a new template for Product Updates to be displayed.

Ta :)
Chris

[2018-10-30 12:57] designbychris opened #47 "Sidebar for Search Results"
Hi Sam,

Can you set a new widget area call it Search Results Sidebar or something like that, and add a side bar area in the space to the right on the search results?

Also can we add a title area with an image (a reduced one, please see one of my previous issues about heights of header), and a title of Search Results :)

Ta :)
Chris

[2018-10-31 10:15] designbychris opened #48 "Global color change"
Hi Sam :)

Can you perform a global color change over the styles:

Please change HEX #4e4a47 for #191919 everywhere.

This is a request from Linda :)

Ta

Chris

[2018-10-31 10:18] designbychris commented on #48
Also can you change the class .bg-mid-grey, .bg-gray and .bg-light-gray to be the background hex color of #f2f2f2 as all these classes are going to call the same gray color, please can you comment out the original background colors for these just in case they want to be reverted later.

[2018-10-31 10:55] designbychris opened #49 "Modal Form"
Hi Sam,

I have made some style amends to the form within the pop up in the footer.

Can you do a few fixes for me?

On the select, I need it to have the label within the field as the first unselectable item, so its there but you can't choose it. Essentially giving the first option (if you select to put the labels within the fields from your other option, to give the first option being the label t

[2018-11-01 05:39] samvthom16 commented on #49
@designbychris all the decisions on the forms are on hold until we know how we are handling for hubspot.

[2018-11-01 05:43] samvthom16 commented on #48
@designbychris I'll use variables within SASS for the first request. For the second request, you can override them in your css file.

[2018-11-01 05:50] samvthom16 commented on #46
@designbychris Need more context to this. What is the purpose of this Custom Post Type?

[2018-11-01 05:55] samvthom16 commented on #40
@designbychris this is my suggestion: to do the above customization the header through the page widget we have already created. Page settings should be left as it is to show default behaviour. For any custom changes, one can add the header image through the hero widget and corresponding custom styles from our theme.

[2018-11-01 07:18] samvthom16 commented on #48
@designbychris can you share the list of colors with hex values that we are using within the website. I will create a library of color variables in SASS for them.

[2018-11-01 08:55] samvthom16 commented on #47
@designbychris Please share a visual for the same.

[2018-11-01 09:02] designbychris commented on #49
Ok

[2018-11-01 09:04] designbychris commented on #48
I think that this is correct :)

[2018-11-01 09:06] designbychris commented on #46
This is for a page that will be working like this: https://www.designbychris.co.uk/akvo/newsite/product-updates.php

I have made the template for product updates ready for the custom post type to be made and then I can populate and test it.

The categories/tags need to be used where you see on my sample are the categories/tags. So we will need to be able to have custom categories/tags for this pos

[2018-11-01 09:07] samvthom16 commented on #47
https://github.com/akvo/Akvo-Theme/commit/818890e88e4a4de1b62575e2118091e4e03a76ee

[2018-11-01 09:07] designbychris commented on #40
I honestly thought that it would be easier to just add an override on the area where you have show/hide the header, to change it to small/large.

Same with the subtitle.. I would use if statements for if the field is filled (same as the one for overriding the header text you have currently) to have it display the subtitle if its populated.

Is this not possible?

[2018-11-01 09:08] designbychris commented on #48
I will probably get Linda to check this list of colours to make sure that she's happy.

[2018-11-01 09:41] designbychris commented on #40
Fair enough.. I think that the way I suggested allows for more control, and is pretty simple, as its just a text field, not a builder element. It will also require less coding to get it working I would have thought than getting the builder element to have the size built in for the smaller headings.. as we can't allow the admin to change this.. It needs to be set and kept the same height. I'm happy

[2018-11-01 10:30] designbychris commented on #40
we could always just have a class set to force the height in the row. That might work?

[2018-11-01 10:55] samvthom16 commented on #40
I'm already using a class .item-narrow to make the header shorter. The class gets added automatically through the widget options. Do have a look at the widget settings for reference https://staging3.akvo.org/wp-admin/post.php?post=42032&action=edit&lang=en

[2018-11-01 11:07] designbychris commented on #40
Perfect :D winner winner chicken dinner :D

[2018-11-01 11:39] designbychris commented on #45
Matey, can you check something for me? I'm not sure that I have the code right for the call for the URL field you made, can you check the code on the category/page-blog.php on line 53, if its wrong can you fix to call your custom field? :) ta

[2018-11-01 11:48] designbychris opened #53 "Header tiled background image"
We will sometimes have a tiled image in the background of the header.

Can you set an option to allow this?

It may be good to have it as a tick box or a dropdown like the Narrow height option :)

[2018-11-01 15:05] designbychris opened #54 "Map Tab"
I have added a new map_tab.php function as the old one didn't work.

I have put a new version in, and have added some new scss for map_tabs.. which I hope will work.

We will need to have a way to put a custom map in the body tab and then add multiple map locations on the fly, as some may only have 1 location, while others may have 5.

I've used SnazzyMaps for the time being.. though i'm sure that

[2018-11-02 03:41] samvthom16 commented on #54
@designbychris also share the visual reference of the same. Do note that all developments are dependent on the visual reference. If you have used SnazzyMaps then we will be using that. If we change to Google Maps only for the development, then again there is a difference in the development and the visual reference.

[2018-11-02 03:41] samvthom16 commented on #53
@designbychris Please share a visual reference for the same.

[2018-11-02 10:02] designbychris commented on #53
The tiled background is here https://designbychris.co.uk/akvo/newsite/single3.php the header image tiles, its not one large image. If you inspect element on it you will see that its set to repeat, and the image size is only 300px x 300px. The new image will be larger (600px x 600px) but that shouldn't matter if we can set an option to make the background image repeat :)

[2018-11-02 10:15] designbychris commented on #54
I've built a test thing here: https://designbychris.co.uk/akvo/newsite/tabs/tabs3.html

I think that it would be better if we didn't use Snazzy Maps. Because otherwise we'll need to do a stupid amount of work within Snazzy to make it work. We should be able to use the builders Map element for this, and just add a style:

[maps-style-googlemap.txt](https://github.com/akvo/Akvo-Theme/files/2541965/m

[2018-11-05 09:28] Lindaleunissen commented on #48
Hiya, Thanks for this.

Red, blue, green and pink are correct.
Dark black and mid black are correct too.

Where do we use black? And why do we have so many greys? Where do we use them?

[2018-11-05 10:01] designbychris commented on #48
@Lindaleunissen they were being used on different sections of the site.. some of the greys were darker and some were lighter.

e.g. on here : https://designbychris.co.uk/akvo/newsite/europe.php you will see the ligher grey being used in the background and here: https://designbychris.co.uk/akvo/newsite/about.php the darker. I also made a mid gray too.. but we can consolidate all grays to one gray i

[2018-11-06 03:21] samvthom16 commented on #17
Improvement from Linda: On the partners page, can you set the cursor so it only changes from arrow to hand symbol if there is a link added to the logo?

[2018-11-06 03:21] samvthom16 opened #58 "Annual Reports"
Linda: It would be good if the 2014 annual report could stay looking as it does. Is that possible?
https://akvo.org/about-us/organisations/annual-report-2014/

[2018-11-06 03:29] samvthom16 commented on #53
@designbychris So the option that needs to be added is if the header image needs to be repeated or to keep it as a cover?

[2018-11-06 03:33] samvthom16 opened #59 "Keep a list of predefined colors for the color pallete"
https://siteorigin.com/thread/custom-iris-picker/

[2018-11-06 09:11] Lindaleunissen commented on #48
Is there any way we can  preset these colours in the different colour palettes in the builder?

[2018-11-06 09:18] designbychris commented on #53
yes indeed :) so if the repeater option is selected, then it will repeat the header image instead of filling it with cover :)

[2018-11-06 09:30] designbychris commented on #54
I have put a map into here: https://staging3.akvo.org/europe/ i'm just waiting for the API from Googlemaps to catch up. As I set a key in its just taking some time to catch up.

With my tabs function, are we going to be able to add this map to be within the actual tab content section without a problem?

I have some CSS with it which forces the map to be a height/width of 100%, as we have equal row

[2018-11-06 09:43] designbychris commented on #46
@samvthom16 can we add the Author function for this custom post type please? We need to be able to display the author of the update.

[2018-11-07 13:48] designbychris opened #70 "Our Partners filter"
Hi Sam :)

Can we add an "All" filter on the Our Partners filtering?

I'm not sure if this is something needed on all filters. Linda will need to answer that. But if we could add that in to the Our Partners filtering that would be great :)

Ta
Chris

[2018-11-08 03:51] samvthom16 commented on #70
@designbychris The 'all' filtering can be enabled/disabled from the widget settings. Linda on the live had asked me to disable that for the partners because of duplication of data. If you want to enable, you can do it via the widget settings.

[2018-11-08 03:54] samvthom16 commented on #54
@designbychris As I mentioned earlier, I can't build on top of this widget. If this widget can't be used as it is then we need to find ways of embedding the Google maps directly into the tab.

[2018-11-08 04:53] samvthom16 commented on #53
Continuation of this issue:
https://github.com/akvo/Akvo-Theme/issues/40

[2018-11-08 04:59] samvthom16 commented on #48
List of predefined color palettes:
https://github.com/akvo/Akvo-Theme/issues/59

[2018-11-08 05:18] samvthom16 commented on #48
@designbychris
@Lindaleunissen
There are other colors that are being used too. Are we going to continue using them like:

new.scss -
#eeeeee
#ededed
#ccc
#CACACA
#cacaca
#2c509a
#e2e3ea

inc/filters.scss -
#f0f0f0
#797979
#f0f0f0
#aaa8a8

inc/modal.scss
#ddd

inc/navbar.scss
#222
#080808

@designbychris
If we are going to use them, can we please list them in the library.scss?

[2018-11-08 06:20] samvthom16 commented on #45
@designbychris This function should work:
[code]

[2018-11-08 08:57] designbychris commented on #70
I will let Linda know :) as she was asking.

[2018-11-08 09:00] designbychris commented on #54
yeah thats perfect :) I think that we can just use the maps direct from Google TBH.. I'm pretty sure that I can implement a style from SnazzyMaps on a GoogleMap.. I just need to read up on it :) but if you can do the rest of the widget for the map and tabs then that would be great :) As it should all be there now :D

[2018-11-08 09:02] designbychris commented on #48
hmm not sure .. i'll have to review these colours with Linda ...

I will go through these and consolidate them.. I do think that some of them are no longer needed. But I will need to find them and where they're used :)

[2018-11-08 09:02] designbychris commented on #48
I have now assigned this to me for the moment while I go through these colours and find them all :)

[2018-11-08 09:05] designbychris commented on #45
All good :) this is now working perfectly :D

[2018-11-08 09:40] Lindaleunissen commented on #70
It should only be disabled on the organisations page. Everywhere else we need the all filter. But if I can set it myself, then it's not a problem. Thanks!

[2018-11-08 09:47] Lindaleunissen commented on #58
Thanks for this Sam. To elaborate on this: in other years we've done a printed booklet, which is downloadable as a pdf, so there is no problem there. In 2014 the only annual report we did was this online one.

If possible we'd like to keep this page looking as it does now, so that it has the style and look we used in 2014. I'm open however to the possibility of using an alternative way of retainin

[2018-11-14 12:54] #70 closed

[2018-11-15 03:51] samvthom16 opened #167 "Clocks WIdget"
Linda: The times on the clocks are not correct. Europe is 1 hour too late (looks like it is still on summertime).
South Asia is half an hour too early.

Text on South East Asia & Pacific should be "Apa kabar? (So change Apu to Apa and add a question mark)

[2018-11-15 03:53] samvthom16 opened #168 "Fontawesome icons with siteorigin page builder"
Linda: I’m trying to update the icons on the homepage in the statistics section. The options I get for font awesome icons is a lot smaller then the variety I can see on the font awesome page. Not only different weights are missing, a lot of icons are not available.
We bought a non-profit licence for Font Awesome PRO a while ago, and I reckon that might give us more options.

[2018-11-15 08:56] designbychris commented on #167
@samvthom16 did you sort this or do you need me to look at it?

[2018-11-15 09:09] samvthom16 commented on #167
@designbychris Yes please. I have updated the text but not familiar with the timings.

The file that needs to be updated is Akvo-Theme\lib\templates\clocks.php

[2018-11-15 09:23] designbychris commented on #167
done :)

[2018-11-20 09:21] #58 closed, assigned to nobody

[2018-11-20 12:45] designbychris opened #189 "Microstory Additional Widgets"
Hi @samvthom16 we have some extra widgets we need building for the new Microstory Page. I'm going to suggest that the team use the builder to rebuild the microstories (you may have seen this in Skype), can you build the following ones (i've added them into the /lib/templates folder in GitHub), for both examples please go to https://designbychris.co.uk/akvo/newsite/microstories.php to show the exam

[2018-11-22 04:31] samvthom16 commented on #41
@designbychris I have been able to figure this one. Can we recreate this one?

[2018-11-22 04:35] samvthom16 opened #197 "Team page, organisations, partners, stories page etc - Filters"
@designbychris
Can we have the filters centered please, instead of left aligned?

[2018-11-22 05:04] samvthom16 commented on #168
SIteorigin Support: Unfortunately, we’re not natively compatible with FontAwesome Pro out of the box.

[2018-11-22 08:37] samvthom16 opened #198 "Issue of losing data in staging"
Answer the following questions:
 - When did this happen?
 - How many times did the issue repeat?
 - Could you explain step by step on how you faced the issue? (Would help to replicate)

[2018-11-22 09:14] Lindaleunissen commented on #198
I made some changes to the Europe page last week. New header image, new map marker, possibly some font changes, though I cannot be sure of that. I think they were still there on Monday, but on Tuesday I noticed they were replaced by the previous images.

I haven't made changes to other pages, so don't know if it happened there too.

On the Europe page there were also some changes in Chris' code. T

[2018-11-22 09:16] designbychris commented on #198
As Linda mentioned, I made some changes to chris.css to fix a few things last week for the form etc. I have since added them back in again. But for some odd reason or another it disappeared.

[2018-11-22 09:46] #168 closed

[2018-11-22 09:48] samvthom16 commented on #59
@designbychris
Linda
I have updated the color palette to have these colors:

#000000
#191919
#ffffff
#EA5547
#03AD8C
#404898
#E04D95

Could you review them for me if you need any changes?

[2018-11-22 09:51] Lindaleunissen commented on #59
All good. Thanks for that, will make our lives a lot easier!

[2018-11-22 10:36] designbychris commented on #41
so is this needing to be rebuilt @samvthom16 or did you find the problem?

[2018-11-22 10:40] samvthom16 commented on #41
@designbychris I couldn't figure

[2018-11-22 10:43] designbychris commented on #197
This is done.

[2018-11-22 10:54] designbychris commented on #41
ok.. lets leave it for the timebeing.. I will revisit this when we're done with all the more important things :)

[2018-11-22 12:17] designbychris opened #201 "Additional Widgets for Product page"
Hi @samvthom16 here are a list of extra widgets needing to be made. I have added in the PHP into the /lib/templates folder for you.

akvo_process.php - this is for the Product page it looks like the circle boxes on this static page here: http://designbychris.co.uk/akvo/newsite/water-quality.php if you scroll down you will see a block of 6 icons in circles. Ideally we will have the ability to add n

[2018-11-27 15:22] designbychris opened #212 "Hide Places of Interest on Google Maps"
Hi Sam,

Can you add the correct code to hide all places of interest from the Google Maps in the builder :)

https://developers.google.com/maps/documentation/javascript/examples/hiding-features

Just in case you need any reference :)

Chris

[2018-11-27 15:23] #197 closed

[2018-11-27 15:23] designbychris commented on #54
@samvthom16 can you update Linda on where this is up to?

[2018-11-27 16:10] designbychris opened #213 "Logo Slider"
Hi Sam,

As discussed on Skype, can you add a "number to show" option on the logo slider, as the logos can be quite small when set to 5 to show. Might just be a nice option to have on that widget to allow the user to select the number of items to show at a time :)

See https://staging3.akvo.org/west-africa-new/ for small logos :)

Chris

[2018-11-28 13:35] designbychris opened #215 "Accordion fixes"
Hi Sam,

Can you look at the accordion issue below:

When you open an accordion item, then if you scroll to open the next one down, it doesn't jump back up to the top of the accordion item that you have just opened. If you look at https://staging3.akvo.org/terms-and-conditions/ and try opening a few of them, you should see what I mean. If you get stuck, please ask Linda for a screenshare to explai

[2018-11-28 13:39] #54 closed

[2018-11-29 05:05] samvthom16 commented on #201
@designbychris I have added the widget for akvo process icons but I still see the responsive issues and the button does not get active on click. There is some gap in the UX from what we have here: http://designbychris.co.uk/akvo/newsite/water-quality.php. Can you please look into this?

[2018-11-29 05:08] samvthom16 commented on #201
@designbychris All the widgets in the SiteOrigin Page builder don't have any documentation as such to hack them from our theme. Either we use the widget as it is and override the styles from our css. Or we make a completely new widget.

[2018-11-29 05:10] samvthom16 commented on #212
@designbychris All the widgets in the SiteOrigin Page builder don't have any documentation as such to hack them from our theme. Either we use the widget as it is and override the styles from our css. Or we make a completely new widget.

This is the only documentation I have found for the map widget: https://siteorigin.com/widgets-bundle/google-maps-widget/. If this doesn't help, then we will have

[2018-11-29 05:10] #59 closed

[2018-11-29 05:41] samvthom16 commented on #49
@designbychris Why aren't we using gravity forms for this?

[2018-11-29 07:33] #213 closed

[2018-11-29 07:58] samvthom16 commented on #189
@designbychris Have you tested them locally? These were completed last week.

[2018-11-29 08:29] samvthom16 commented on #198
Staging data was lost because of a database restore done on 16th Nov (Friday) from the 14th Nov (Wednesday) backups. This was done when our live site went down because the ACF plugin data got corrupted due to an update gone wrong.

[2018-11-29 08:29] #198 closed

[2018-11-29 08:56] designbychris commented on #201
We may need to build a new pricing widget then... I will work on a new design for one.. it should hopefully be a pretty simple one :) thanks for the update. I will look at the process icons issue

[2018-11-29 08:57] designbychris commented on #212
Hi mate, its ok. I found the solution for the map :) as it allows Snazzy Maps JSON which I used and it looks great :)

[2018-11-29 08:57] #212 closed

[2018-11-29 08:59] designbychris commented on #49
We can be, I will make it into a Gravity Forms, form.

[2018-11-29 08:59] #49 closed

[2018-11-29 09:01] designbychris commented on #189
I will test these again now.

[2018-11-29 09:38] designbychris commented on #201
@samvthom16 I can't see the Akvo Process in the list of active widgets within the SO Widgets. Can you sort this so that I can test it properly on the stage?

[2018-11-29 10:07] designbychris commented on #189
Statistics working perfectly :)

[2018-11-29 10:07] #189 closed

[2018-11-29 10:11] designbychris commented on #201
@samvthom16 the Akvo process is working, apart from the bit of code to make the button have a class of btn-info when its clicked, I can see the code you're using is:

<?php if( $i ){ _e('btn-default'); } else{ _e('btn-info'); }?>

Its just not changing over to btn-info when active, and being btn-default when inactive. If you can fix that then we should be good for this widget :) as my responsive C

[2018-11-29 10:16] designbychris commented on #36
Looks good :) working great :D

[2018-11-29 10:16] #36 closed

[2018-11-29 10:19] designbychris commented on #17
@samvthom16 I think that for this, we may need to have a field in the CPT for Partners to allow a URL to be added, as currently there isn't an option to add a link to the logo.

Can you add this field, and if its added then allow the link to be added to that logo within the grid on the Partners page loop.

[2018-11-29 10:30] designbychris commented on #201
bugger, I thought that I had included that... i'm sorry .. bare with me

[2018-11-29 10:32] designbychris commented on #201
So so sorry :( I forgot to include this js file
[process.zip](https://github.com/akvo/Akvo-Theme/files/2628690/process.zip)
I have zipped it up.. but if you extract it and add the .js file to be used for this process then it should work :)

Sorry again :( utterly my fault.

[2018-11-29 11:03] designbychris opened #222 "Microstory Hero Text"
Hi @samvthom16 can you add an option to the microstories to allow the admin to remove the title text from the microstory hero area? Like we have on the pages etc. We want to retain the image, just the option to hide the text.

[2018-11-29 11:04] designbychris opened #223 "Region Page Hero"
Hi @samvthom16 can you look at the Hero on the Regional Pages (e,g, https://staging3.akvo.org/europe/ ) you will see the white box for the text, can we hide this if the title isn't in the header?

[2018-11-29 11:19] designbychris opened #224 "Microstory page widget amends"
Hi @samvthom16 here are some widget amends that I need you to look at on the Microstory pages:

the iFrame report widget, currently this widget is wider than the text below, as its within a container for the .so-widget-sow-editor giving it some additional padding around the text. Can we add this to the iFrame Widget as standard so that it doesn't look wider than the rest of the text.

Same goes fo

[2018-11-29 11:32] samvthom16 commented on #224
@designbychris I don't think we should be creating a new widget for these. These can be aligned by overriding the styles. For the tinymce, following are the styles that are added (do note this was copied from the previous design):

`body.single-microstory .so-widget-sow-editor, body.single-microstory .narrow-row{
max-width: 1000px;
margin-left: auto;
margin-right: auto;
padding: 50px 20px;
box-siz

[2018-11-29 11:35] samvthom16 commented on #222
@designbychris I don't think we should add this in the page settings as we will end up bloating the same considering all use cases.

[2018-11-29 11:40] #223 closed

[2018-11-29 11:41] samvthom16 commented on #215
@designbychris All the widgets in the SiteOrigin Page builder don't have any documentation as such to hack them from our theme. Sorry don't have much on this to make it better as this is not style issue.

[2018-11-29 11:43] designbychris commented on #222
Hmm thats odd.. can you set it for the Microstories, Linda will need to change the Pages to be a Widget instead to show the image.

[2018-11-29 11:44] designbychris commented on #215
Blast... we are going to need to find out why/how to make it not jump if at all possible.. Or we're going to have to make a new accordion widget to allow us to control how the open/close function works

[2018-11-29 11:51] samvthom16 commented on #222
@designbychris I'm a bit confused here. I checked the code for single-microstory, and the title with the image has been hardcoded. So you want the option to hide the title only and not entire section like we have on pages?

[2018-11-29 11:54] designbychris commented on #222
Yes please, just want the option to hide the title like on the pages. But we want to keep the Hero image, just to hide the text if a tick box is ticked.

[2018-11-29 11:55] designbychris commented on #222
https://staging3.akvo.org/stories/americas/test-microstory/ on this one.. for example, if I ticked the box. The Hero image (which is the featured image) would remain but the text Test Microstory, would be hidden :)

[2018-11-29 11:57] samvthom16 commented on #222
@designbychris then there would be no uniformity among the settings, also it doesn't apply to the case if the whole image section needs to be removed in the future for something else.

[2018-11-29 12:00] designbychris commented on #222
okie dokie :)

[2018-11-29 12:42] #222 closed

[2018-11-29 15:26] Lindaleunissen opened #228 "Header image widget height"
At the moment I can use the "akvo slider" widget to set the height of the header image to 'default' or 'narrow'. We need a third height - let's call it 'extra narrow'. See image below for approximate height.

From left to right, heights are Default, Narrow, Extra Narrow
<img width="1630" alt="screen shot 2018-11-29 at 15 24 30" src="https://user-images.githubusercontent.com/5338081/49232011-13cf0a

[2018-12-03 09:27] samvthom16 opened #235 "Video Modal"
Video should pop up when the image preview of the video is clicked.

[2018-12-03 09:29] samvthom16 commented on #228
@designbychris What would the height be in pixels?

[2018-12-03 09:30] designbychris commented on #235
ahh ok.. well lets leave it for the time being.. as we're keeping it happy :) is this now a widget available for use?

[2018-12-03 09:31] designbychris commented on #228
@samvthom16 I have asked Linda to let you know pixel height :)

[2018-12-03 09:33] designbychris commented on #235
I have activated the Akvo Video Modal :)

[2018-12-03 09:33] #235 closed

[2018-12-03 09:34] Lindaleunissen commented on #228
I don't know the pixel height of the other 2 sizes, so I don't know how to tell how many pixels that is. That's why I took screenshots. I'd like the same distance in pixels above the text as underneath it. Does that help?
@designbychris @samvthom16

[2018-12-03 09:38] designbychris commented on #228
I will see if I can sort this out for you @samvthom16, bare with me

[2018-12-03 09:47] designbychris commented on #228
@samvthom16 heights as follows please:

Default - 620px high (this should already be set to this high I believe)
Narrow - 450px high (this should already be set to this high I believe)
Extra Narrow - 250px high

[2018-12-03 10:33] designbychris opened #239 "Akvo Process Update"
Hi Sam,
Can we add another function to the process widget.

Ideally, we want to be able to put another builder element style within each of the repeater items, like we have done on the tabs (to allow for maps etc). So that the admins can set columns with extra text and images etc.

Thanks
Chris

[2018-12-03 13:39] designbychris opened #243 "Site issues"
Hi Sam,

Can you look at a couple of issues:

1. On the Statistics widget - the Font Awesome Pro integration.
2. On text editors, can you allow the <br/> to be able to be used or for the system to allow for hard returns.

Please check with Linda about the above :)

Thanks

Chris

[2018-12-03 14:46] Lindaleunissen commented on #243
Hi Sam.
1 I've added fontawesome code to the statistics section. But it doesn't show in all cases.
2 This was mainly for adding empty 'spacing' lines. Normal hard returns work fine, but with the padding amends that Chris has made, this is not really an issue anymore.

Thanks, L

[2018-12-05 10:34] designbychris opened #252 "Gdoc Plugin/Widget"
Hi Sam,
Can you look at this page: https://staging3.akvo.org/help/third-parties/ and make the gdoc widget/shortcode/plugin work :)

Ta
Chris

[2018-12-05 11:10] Lindaleunissen opened #256 "Equal height boxes in same row"
Hi Sam,

Can you set the builder so that we can make boxes equal in height?
I have 2 boxes next to each other on the homepage, and ideally they'd be the same height. See screengrab below.

Thanks!
<img width="1175" alt="screen shot 2018-12-05 at 11 09 34" src="https://user-images.githubusercontent.com/5338081/49509797-4ad76d00-f87e-11e8-91a2-ef4eacc85b6c.png">

[2018-12-05 12:00] Lindaleunissen opened #257 "Titles for tabs/accordions in back end"
Hi Sam

In the microstories section (Master microstory) we have a section in the builder called "Partnership details" (originally called metrics). In here we add partner names, location, etc. It would be good if those titles would be visible in the widget (at the moment it just states 'item'), as it would speed up content population quite a lot. I can already do this on the accordion widget.

<img

[2018-12-05 13:38] designbychris opened #258 "Video Modal Autoplay"
Hi Sam,

We need to make the video autoplay when the video is opened within the modal window.

Also we need to make it stop playing when the modal window is closed.

Can you sort this out?

I have added ?autoplay to the URL but it seems to have some issues. Can you look into it?

Chris

[2018-12-05 14:20] Lindaleunissen commented on #256
I found a similar image on [this page](https://staging3.akvo.org/capture-and-monitor-data-at-scale/): where I'd like the buttons to all sit at the same level.
<img width="1233" alt="screen shot 2018-12-05 at 14 18 47" src="https://user-images.githubusercontent.com/5338081/49519432-db22ab80-f898-11e8-86cd-f0ca131b8f67.png">

[2018-12-05 14:52] Lindaleunissen opened #259 "Statistics widget"
I've copied the statistics widget onto the microstory pages, however, there are a few bugs in it.

1 When using less then the standard number of items the columns are not centred.
2 Even though the text is set to white in the design side panel, not all text is actually displaying as white. This has happened on other occassions too. @designbychris can elaborate if needed.

<img width="1388" alt="sc

[2018-12-05 17:16] designbychris commented on #256
@samvthom16 Also on this.. can you look here: https://staging3.akvo.org/capture-and-monitor-data-at-scale/

Can we make it so that we can set the image to be in line with the content?

[2018-12-06 02:59] samvthom16 commented on #256
https://siteorigin.com/thread/equal-height-of-the-content-in-rows-columns/

[2018-12-06 03:05] samvthom16 commented on #256
@designbychris I suggest that you use a css class if padding or margin settings don't work.

[2018-12-06 03:07] samvthom16 commented on #243
@Lindaleunissen I would need to what exactly are those icons which are not showing. Please list a couple of them for me to test.

[2018-12-06 03:33] samvthom16 commented on #239
@designbychris So instead of the TinyMCE you would like to have a page builder element?

[2018-12-06 03:36] samvthom16 commented on #23
@designbychris can we close this one?

[2018-12-06 04:37] samvthom16 commented on #258
@designbychris The video is actually auto playing when you added the autoplay to the URL but you can't see it because its inside the modal that's hidden. So what I have done is to add autoplay to the URL dynamically only when the video modal actually opens. Keeping that in mind, you don't have to add autoplay to your urls.

Also I noticed that there are some css styling based on the ID: `#squaresp

[2018-12-06 04:38] samvthom16 commented on #257
@Lindaleunissen I need more clarity on this.

[2018-12-06 04:47] samvthom16 commented on #228
@Lindaleunissen @designbychris  I have pushed the code. Could you confirm if this works?

[2018-12-06 04:50] samvthom16 commented on #258
@designbychris Please test this out for me on staging. If it works then lets close the issue.

[2018-12-06 06:00] #4 closed

[2018-12-06 06:07] samvthom16 commented on #258
https://github.com/akvo/Akvo-Theme/issues/235

[2018-12-06 06:08] samvthom16 commented on #228
https://github.com/akvo/Akvo-Theme/issues/53

[2018-12-06 06:09] samvthom16 commented on #224
@designbychris have you worked this out?

[2018-12-06 06:12] samvthom16 commented on #259
https://github.com/akvo/Akvo-Theme/issues/189

[2018-12-06 06:14] samvthom16 commented on #41
@designbychris what is the plan for this?

[2018-12-06 09:31] designbychris commented on #224
Works perfectly :) thanks. Is there a way to add a drop down option somewhere in the design options on the row, to dynamically add this class? I can just see that some of the normal admins might struggle to remember to add this class.

[2018-12-06 09:32] designbychris commented on #41
Hi Sam,
I think that the plan is to rebuild this when everything else is done :) I have it in my workflow for when we have all the other issues finished. As it might just be as simple as making a new one :)
Chris

[2018-12-06 09:43] samvthom16 commented on #224
Nope. We can add this to the Readme file for docs.

[2018-12-06 09:52] designbychris commented on #224
ok

[2018-12-06 09:52] #224 closed

[2018-12-06 09:53] designbychris commented on #259
I think it was just that the color wasn't set to inherit. which I have fixed.. I think. I will however double check this.

[2018-12-06 10:09] Lindaleunissen commented on #228
Works and looks fab. Thank you!

[2018-12-06 10:15] Lindaleunissen commented on #257
On the accordion widget I can change the title of the panels in the backend - see screen grab below.
Alvaro requested the metrics widget to be set up in the same way, as it will make content population easier if we can see right away what each item is.

<img width="918" alt="screen shot 2018-12-06 at 10 11 51" src="https://user-images.githubusercontent.com/5338081/49577636-bf261500-f93f-11e8-82ff-

[2018-12-06 10:17] Lindaleunissen commented on #256
Perfect. Thank you!

[2018-12-06 10:34] #256 closed

[2018-12-06 10:35] Lindaleunissen commented on #243
It only shows the icons that are available in the 'select icon' option. Anything that I type in the Font awesome pro icon box that is not in the 'select icon' option doesn't work.

I've tried entering the code in different ways, but none work:
1) <i class="far fa-handshake-alt"></i>
2) fa-handshake-alt
3) far fa-handshake-alt

If you look at the master microstory, I have uploaded 5 different icons

[2018-12-06 10:36] samvthom16 commented on #243
@Lindaleunissen please share the backend link of the master microstory template

[2018-12-06 10:37] #228 closed

[2018-12-06 10:37] Lindaleunissen commented on #243
Code above at 1 disappeared:
< i class="far fa-handshake-alt"> </i>

Also here a list of the icons in the partnership details section:
far fa-handshake-alt
far fa-globe-americas
far fa-hand-holding-seedling
fal fa-person-dolly
far fa-hammer

[2018-12-06 10:38] samvthom16 commented on #201
@designbychris can we close this?

[2018-12-06 10:38] Lindaleunissen commented on #243
back end link:
https://staging3.akvo.org/wp-admin/post.php?post=45388&action=edit&lang=en

[2018-12-06 10:54] samvthom16 commented on #243
@Lindaleunissen it seems that fontawesome has upgraded their API. I'm changing the way the icons are displayed, so you might have issues with the old ones that are already entered in the system.

[2018-12-06 10:56] Lindaleunissen commented on #243
Ok, thanks.
Looping @designbychris into this thread, as he embedded fontawesome icons on several pages in the website.

[2018-12-06 10:57] samvthom16 commented on #243
@Lindaleunissen @designbychris This will only affect the icons used in Stats and Process widgets. You can find the pro icons working here: https://staging3.akvo.org/stories/akvo-hub/test-microstory/

[2018-12-06 10:59] samvthom16 commented on #257
@Lindaleunissen I have updated on staging. Please confirm if this works or needs more updates.

[2018-12-06 10:59] Lindaleunissen commented on #243
hooray! Thank you!

[2018-12-06 10:59] #243 closed

[2018-12-06 11:00] Lindaleunissen commented on #257
Perfect! Thank you!

[2018-12-06 11:05] #257 closed

[2018-12-06 11:05] #239 closed

[2018-12-06 11:10] designbychris commented on #201
Yes :) sorry

[2018-12-06 11:10] #201 closed

[2018-12-06 11:35] designbychris commented on #258
@samvthom16 I've changed the CSS to not use the id. So you can now change that to how you need. i'm using the class of the main modal container for the style amends:

.so-widget-akvo-video-modal

So this should all be good now :) autoplay is working fine now too :) thanks

[2018-12-06 11:39] #258 closed

[2018-12-06 11:39] designbychris commented on #259
I have fixed this.

[2018-12-06 11:41] designbychris commented on #259
I can see the problem.. its a flex issue

[2018-12-06 12:00] #259 closed

[2018-12-06 12:00] #17 closed

[2018-12-06 12:01] #48 closed

[2018-12-06 12:02] designbychris commented on #215
Might need to investigate a way to achieve this.. as its a bit buggy on the open close of the accordions.

[2018-12-06 12:38] designbychris commented on #41
Seems to be fixed :)

[2018-12-06 12:38] #41 closed

[2018-12-06 16:04] designbychris opened #279 "Tweetbox widget"
Hi Sam,

One more Widget to build for the builder (and hopefully a shortcode too, just so that it can be used out of the builder).

I have created the template within the lib/ folder. Its called akvo_tweet.php.

The idea is, that the admin can set up a tweet which will be within the main content, then the link will send you to twitter to tweet that text and a link to the post itself.

Hopefully pr

[2018-12-07 09:50] designbychris opened #280 "Flex box issue"
Hi @samvthom16 ,

Not sure what the issue is here.. So i'm hoping that you can take a look and see if its something that needs debugging:

https://staging3.akvo.org/stories/east-africa/addressing-shared-water-risk-in-tanzania-with-iwasp/

On this page, i've added a second row for the statistics bit in the page. But for some reason its kept the same height as the row above, even though on the page

[2018-12-10 09:30] samvthom16 commented on #41
@designbychris it would be nice to document how the issue was fixed for future references.

[2018-12-10 09:43] designbychris commented on #41
Annoyingly it was just adding a few lines of CSS (as it was a webkit issue), the issue was fixed with the following CSS:

/* PROGRESS BAR FIXES */
progress .progress-bar, .progress-bar, span.progress-bar {color:#03ad8c !important;background-color:#03ad8c !important;background:#03ad8c !important;}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value

[2018-12-10 09:51] designbychris commented on #280
hmmm ok... but that still doesn't explain why its on 2 separate elements why the .col is taking the equal heights from the section above... Is it getting them from ALL the .cols on a page and making them ALL the same size?

[2018-12-11 09:07] samvthom16 commented on #280
Yes I'm afraid so. I'll have to use a different class and then check if the issue has been resolved. Will finish this by thursday.

[2018-12-11 09:09] designbychris commented on #280
Cool :) thank matey :D

[2018-12-11 09:13] samvthom16 commented on #279
@designbychris do we have a link that already has this work done? I just wanted to see for visual reference.

[2018-12-11 09:15] designbychris commented on #279
@samvthom16 yes of course, please go here: https://designbychris.co.uk/akvo/newsite/single3.php about halfway down it should have the click to tweet section. The only difference will be that the colours need to be selectable by the admin. So if they want the box green and the text white, they can. I can sort the CSS afterwards, I think. We just need to have it ready for that functionality :)  does

[2018-12-11 11:18] Lindaleunissen commented on #215
I will hold off on populating these any further until we've got this figured out, as it is quite a lot of work to do.

[2018-12-11 11:36] designbychris commented on #215
I wonder if something like this might help @samvthom16 https://github.com/siteorigin/so-widgets-bundle/issues/785

As this says something about using anchor tags for when the accordions are pressed.

The alternative is that we build a new set of accordions and use them instead? What are your thoughts Sam?

[2018-12-11 11:46] designbychris commented on #215
@samvthom16 I have put some code in the /lib/ folder called akvo_accordion.php it uses the same code shown here: https://designbychris.co.uk/akvo/newsite/jobs.php with the accordion. Can you try making that into an available widget, to see if that fixes the problem?

[2018-12-11 13:05] samvthom16 commented on #215
@designbychris yes we can try the new one

[2018-12-11 16:52] Lindaleunissen opened #281 "Font awesome icons on homepage"
Relates to #243

Hi Sam,
The font awesome icons are working amazingly on the micro stories, but on the homepage they don't work yet. (governments, organisations, users, countries section)

Could you please have another look at that?
Thanks!
Linda

[2018-12-11 16:57] designbychris commented on #280
the .col issue seems to have gone to here too : https://staging3.akvo.org/blog/ they are all really tall when they should be flex height.

Is this something that will be fixed by your other class fix?

[2018-12-12 04:22] samvthom16 commented on #281
Hello Linda,

The widget that is being used on the homepage is not the one that is being used in microstories. The one that is being used on the homepage is the default widget that comes with the page builder. As I mentioned before, siteorigin don't provide support for fontawesome pro icons out of the box.

So the alternative is to use the widget that we have created in the theme.

[2018-12-12 12:06] Lindaleunissen opened #283 "narrow-row CSS doesn't work on full width row"
On image rows in the microstories I add narrow-row to the CSS to get them to display at the right width, which works fine on a standard width row.

If I however want to set the bg colour to a different colour, eg. grey, I have to set the row to full width, which results in the image aligning to the far left of the page.

I've recreated the issue on the page below, first image is on a full-width ro

[2018-12-13 03:21] samvthom16 commented on #279
@designbychris Please test the tweetbox on staging

[2018-12-13 03:21] samvthom16 commented on #215
@designbychris Please test the accordion on staging

[2018-12-13 03:32] samvthom16 commented on #256
The class has been updated to `eq-col` because of a conflict with flex boxes https://github.com/akvo/Akvo-Theme/issues/280

[2018-12-13 03:34] samvthom16 commented on #280
@designbychris
I'm not using the `.col` class anymore so this conflict should be resolved. Can you confirm?

[2018-12-13 03:46] samvthom16 commented on #283
@Lindaleunissen For the use of class `narrow-row` within a fullwidth row, you will have to use a nested layout builder. I have done this for this page: https://staging3.akvo.org/stories/europe/monitoring-the-salinity-of-surface-water-in-the-netherlands-with-acacia/

[2018-12-13 08:35] designbychris commented on #215
Will do :)

[2018-12-13 08:35] designbychris commented on #279
Will do :)

[2018-12-13 08:36] designbychris commented on #280
will check now :)

[2018-12-13 08:41] designbychris commented on #256
This all seems to be working perfectly :) @Lindaleunissen can you check too :)

[2018-12-13 08:46] #280 closed

[2018-12-13 08:48] designbychris commented on #279
Works perfectly :)

[2018-12-13 08:48] #279 closed

[2018-12-13 09:03] designbychris commented on #215
@Lindaleunissen I have mocked up a few on the duplicated version of the Terms & Conditions page ( https://staging3.akvo.org/?page_id=47176&preview=true ) can you have a look and see if that improves things?

[2018-12-13 09:39] Lindaleunissen commented on #215
It's looking good. We've lost the option to just open 1 panel at a time though, which I quite like. @samvthom16 Is it possible to add that back in?

I'd prefer a different icon to indicate that it's a accordion. I assume the down arrow is from FontAwesome? Can we use _far fa-chevron-down_ instead?

Thank you!

[2018-12-13 09:44] designbychris commented on #215
@Lindaleunissen I have sorted this and added the chevron-down for you now. Please take a look :)

[2018-12-13 09:45] Lindaleunissen commented on #215
Looks Lovely. Thanks @designbychris
@samvthom16 Do you think it would be possible to have just one panel open at a time?

[2018-12-13 09:57] Lindaleunissen commented on #283
Yes, that works, thanks!

[2018-12-13 09:58] designbychris commented on #283
Can this be issue closed @Lindaleunissen ?

[2018-12-13 10:00] Lindaleunissen commented on #283
If there is a way of getting it to work without a nested builder, that would be preferential.
It's just another not-so-straightforward thing to explain to other team members.

[2018-12-13 10:01] designbychris commented on #281
@Lindaleunissen I think that this is fixed/ok now? If so can we close this issue? :)

[2018-12-13 11:22] Lindaleunissen commented on #281
yes please :)

[2018-12-17 06:07] samvthom16 commented on #283
@Lindaleunissen No that won't be possible.

[2018-12-17 06:07] #283 closed

[2018-12-18 17:59] Lindaleunissen opened #288 "Carousel text"
Since we have a limited amount of good quality images, I'm thinking maybe in some cases the carousel could work slightly differently. [Take this page for example](https://staging3.akvo.org/capture-and-monitor-data-at-scale/): would it be possible to keep the image static, and only have the text rotate?

@designbychris @samvthom16

[2018-12-19 09:00] designbychris commented on #288
I have made the slider fade between slides instead of doing the slide from left process. I think that this improves it :) what  do you think @Lindaleunissen  :)

[2018-12-19 09:08] designbychris opened #289 "Icon Widget"
Hi Sam,
Can you create a widget which will just display a FontAwesome Pro icon and allow you to set the colour, font size and if its centered, align left or align right.

Ta :)

[2018-12-19 09:09] designbychris opened #290 "Akvo Slider amendment"
Hi Sam,

Can you add an option to make the slide have a background colour only? So that it fills the height correctly selected, and instead of showing an image it shows a fill colour?

Ideally it will have the same set of colour selections as you do on the other areas, so that the admin can select one of the predetermined akvo colours.

Let me know if this doesn't make sense?

Chris

[2018-12-19 09:20] Lindaleunissen commented on #290
To add to this, we had this already, but yesterday I noticed it wasn't working anymore. It affects all pages apart from the single blog post.

[2018-12-19 10:51] designbychris commented on #289
@samvthom16 I have set this for you into the lib/templates/

[2018-12-19 11:42] samvthom16 commented on #215
@designbychris What is your take on opening one panel at a time? And any ideas on how to do it? Also don't want to run into the same issues with the site origin accordion.

[2018-12-19 12:23] designbychris commented on #215
@samvthom16 not sure if its possible unfortunately.. i'm still looking into it.. but we might not be able to do this very easily.

[2018-12-19 15:32] Lindaleunissen opened #291 "Update font awesome"
Hi Sam,
Can you update font awesome please? Icons launched in the latest release are currently not showing.
Latest release is 5.6.1

Thanks!

[2018-12-20 08:14] samvthom16 commented on #289
@designbychris You can start testing this out

[2018-12-20 08:16] samvthom16 commented on #290
@designbychris Test this for me please

[2018-12-20 08:50] designbychris commented on #290
@Lindaleunissen this looks ok to me now on the Our organisations page. I have removed my CSS override and removed the image from the slider and selected the correct colour. Please can you check?

@samvthom16 I think that this is happy now :) but I will wait for Linda to sign off :)

[2018-12-20 09:12] designbychris commented on #289
It looks good to me :) thanks @samvthom16

[2018-12-20 09:12] #289 closed

[2018-12-20 09:21] Lindaleunissen commented on #290
Looks good. Thanks Sam.
Really like the colour option in the widget itself, that makes things easier! Big thumbs up!

[2018-12-21 16:36] samvthom16 commented on #215
@Lindaleunissen keeping one panel open at a time would cause the same issue like the other accordion. I'm suggesting that we use this one for lengthy content and the other site origin for shorter content.

[2018-12-27 04:38] samvthom16 commented on #291
@Lindaleunissen Can you please confirm if the updates are working for you?

[2019-01-02 11:15] Lindaleunissen commented on #291
Yes, works!

[2019-01-02 11:15] #291 closed

[2019-01-08 13:55] Lynngre commented on #215
https://github.com/siteorigin/so-widgets-bundle . The widgets are all open source code, if that helps.

[2019-01-31 11:06] designbychris opened #295 "Check issue with Gravity Forms"
Hi @samvthom16,

can you have a look at the Gravity Forms on this page:

https://staging3.akvo.org/get-in-touch-2/

It seems to have lost ALL styling, and i'm not sure why, its a duplicate of the form being used on the region pages. But its just not working at all.

Can you check whats going on?

[2019-01-31 11:35] samvthom16 commented on #295
@designbychris your styling is applied on this selector `.so-widget-sow-editor h3.widget-title`. So the styles are assuming that you will use a shortcode like this one `[gravityform id=22 title=false description=false ajax=true]`. But on the GET IN TOUCH page, you are using a widget instead of the shortcode.

[2019-01-31 11:40] samvthom16 commented on #215
@designbychris I was giving this one more shot. Is custom JS being used for this one or the bootstrap one?

[2019-01-31 11:44] designbychris commented on #295
Hi Sam,

On that page, I have both the shortcode and the widget running, but its just not happy.

Any ideas why?

Chris

[2019-01-31 11:49] designbychris commented on #215
I think that it was the bootstrap one.. but there might be some JS being used within my custom JS file (the akvo_scripts.js) I can't remember off the top of my head tbh.

[2019-01-31 11:55] samvthom16 commented on #295
@designbychris removed the widget version and it seems to be working now. Form conflicts I guess because of the duplicates.

[2019-01-31 11:59] samvthom16 opened #296 "Speed Test"

[2019-01-31 12:04] samvthom16 commented on #296
Testing: https://staging3.akvo.org/americas/

First Load: 1.67s
DOM Load: 3.96s
Finish: 6.11s
Total Load: 5.35s

Total requests: 108 requests

Initial Connection: 485.66 ms
Request sent: 0.89 ms
TTFB: 706.74 ms
SSL: 321.92 ms

[2019-01-31 12:42] designbychris commented on #295
Great :) thanks

[2019-01-31 12:42] #295 closed

[2019-02-05 10:47] designbychris opened #297 "WIDGET for rotating sentence"
Hi @samvthom16, Laura has requested that we build a Rotating Sentence widget/function for the builder.

I have added 2 files, one is the .php within the /lib folder as normal, and I have added the CSS file to the CSS folder to be added into the rest of the CSS/SCSS as you've changed how that works, and chris.css no longer is being used I believe.

It should look like this: https://codepen.io/amrit

[2019-02-06 12:23] designbychris opened #298 "Amendment to Akvo Custom Posts Widget"
@samvthom16 can you add the functionality to allow someone to select specific posts from within a post type, not just by filtering by taxonomy, but like from a search function, based on the number of total items. If its over 6 items don't allow this functionality, but under 6 items, allow the admin to select which posts to display?

[2019-02-06 12:56] samuelpyramidions commented on #298
@designbychris I need more context. What's the problem that we are solving here?

Also just to let you know that there is a certain limit to the conditional logic that can used to build these page builder widgets. Either it has to be broken down to do simpler stuff or else needs to be separated into a different widget.

[2019-02-06 13:04] designbychris commented on #298
the issue is on a water treatment page, Laura wants to be able to select which specific microstories or blog posts to display, she doesn't want to rely on a category, she just wants to be able to call specific posts to display on the page.

It might be easier to make it into another widget, just didn't know if you could add this functionality to the current one :)

[2019-02-07 03:42] samuelpyramidions commented on #298
@designbychris So if we have another widget that just allows you to select individual posts, would that do?

[2019-02-07 03:59] samuelpyramidions commented on #297
@designbychris chris.css will always work. I have refactored and moved the css from there to SCSS. So if you want to add anything in terms of css, use chris,css.

[2019-02-07 04:14] samuelpyramidions commented on #297
@designbychris I checked the code locally and the problem is that the fadein effect only works if the items are 5 in number. Any change in the total items messes up with the animation? Any idea how you could make it more dynamic?

[2019-02-07 05:48] samvthom16 commented on #298
@designbychris the widget has been added and goes by the name - Akvo Pick Posts

[2019-02-07 05:50] samvthom16 commented on #297
@designbychris chris.css will always work. I have refactored and moved the old css from there to SCSS. So if you want to add anything in terms of css, use chris,css.

I checked the code locally and the problem is that the fadein effect only works if the items are 5 in number. Any change in the total items messes up with the animation? Any idea how you could make it more dynamic?

I have anyways pu

[2019-02-07 05:51] samvthom16 commented on #288
@Lindaleunissen @designbychris  can we close this? Or is there anything pending?

[2019-02-07 08:40] designbychris commented on #298
@samvthom16 this is great, but how do you select specific posts. You can still only select ones from specific dates / taxonomies etc.

Laura would like to be able to select a specific post from all the microstories etc. So we need to have a way to select the specific post, not just from a group of taxonomies / tags.

It almost needs to allow you to search for a post in a field as you would do from

[2019-02-07 08:53] designbychris commented on #297
Seems to work fine with less than 5 items.. I think that will be fine. I doubt very highly that there will be any call for more than 5. I will take a look at the code again, but I think thats ok at the moment :) I will let Laura know that there is a limit of 5 items in total :)

[2019-02-07 09:09] designbychris commented on #288
I think that this can be closed unless @Lindaleunissen has any objections :)

[2019-02-08 09:14] samvthom16 commented on #297
@designbychris can we close this then?

[2019-02-08 09:16] designbychris commented on #297
Yes :)

[2019-02-08 09:16] #297 closed

[2019-02-08 09:17] samvthom16 commented on #298
@designbychris This widget is specifically designed for picking individual posts. Try out the **post in** field.

[2019-02-08 09:19] designbychris commented on #298
Ok.. will give it a test now, thanks for the update.

[2019-02-08 09:27] designbychris commented on #298
Works great :D thanks @samvthom16

[2019-02-08 09:27] #298 closed

[2019-02-12 07:22] samvthom16 opened #301 "404 Page"

[2019-02-14 03:03] samvthom16 commented on #5
Issues from Laura:

- [ ] How do I add/remove and add URLs to the social media buttons in the footer?

- [ ] 'Navigation' in the footer - could you please replace it with 'Explore resources'

- [ ] Privacy policy on the newsletter pop-up window needs to have the hyperlink underline. The font also seems to be different. Can you please have a look at the GDPR text on that form so that it has the sam

[2019-02-19 05:15] samvthom16 commented on #5
Issues from Linda
1. Uploaded different videos on the homepage with 2 different embeds but they are both displaying the same video
2. Need translation for the hard coded text in the footer.

[2019-02-19 12:05] designbychris opened #309 "Add second featured image to Microstories CPT"
Hi @samvthom16 can we add a second Featured Image on the Microstories CPT so that we can call it in the related posts in the footer on the single.php file.

I need to be able to call the 2nd featured image in the code below thats used in the Related Posts  section of the single.php:

<?php while ( $query2->have_posts() ) : $query2->the_post();
				$advert_url = get_post_meta($post->ID, 'url', true

[2019-02-20 12:44] designbychris opened #313 "New site issues after go live"
Hi @samvthom16 there seems to be an issue when you search for e-book on the site, it comes up with this post: https://akvo.org/?advert=e-book-advert which I think is normal tbh. But I think that if possible we should hide the advert posts from the search results. As the actual post for the advert is https://datajourney.akvo.org/ebook-design-data-driven-development-programmes-that-deliver-results-e

[2019-02-20 12:44] designbychris commented on #313
from Skype: We just noticed that the time for SEAP office is incorrect - it should be GMT+8 as that is the time in Bali

[2019-02-20 13:58] designbychris commented on #313
Rotating Sentence addition -

@samvthom16 if you take a look at the Akvo Rotating Sentence widget template.php, I have tried to add a div around the normal item information (the non fading element, the div is <div class="nofade">). Can you fix this for me, as its not surrounding the normal non animating text. I'm not sure why.

[2019-02-21 04:13] #301 closed

[2019-02-21 04:27] samvthom16 commented on #313
@designbychris I have removed the advert from the search results and updated the clock for SEAP. Can you confirm if this is working as expected?

[2019-02-21 04:49] samvthom16 commented on #309
@designbychris I have added the second featured image for Microstories as well. This is how you can retrieve them in the templates:
`if( class_exists('MultiPostThumbnails') && MultiPostThumbnails::has_post_thumbnail( 'post', 'background_header_image') ) {

			global $post;
			$image_id = MultiPostThumbnails::get_post_thumbnail_id( 'post', 'background_header_image', $post->ID );
			if( $image_id ){

[2019-02-21 05:00] samvthom16 opened #316 "Hubspot Tracking Code"

[2019-02-21 05:10] samvthom16 opened #318 "WPFront notification bar"
@designbychris
The toast has an ”x”-button but it doesn’t work for small screen sizes.

[2019-02-21 08:47] designbychris commented on #318
hmm thats odd.. Let me take a look.. i'm wondering if we need it at all. Its only going to be up for a couple of weeks. I will take a look.

[2019-02-21 08:53] designbychris commented on #309
Oh bugger.. can you add this functionality to the Adverts CPT.. sorry I had the wrong one! Bugger!

Sorry :(

[2019-02-21 08:56] designbychris commented on #313
Looks good to me :)

[2019-02-21 08:56] #313 closed

[2019-02-21 08:59] designbychris commented on #318
Ok the button won't work on smaller screens, so I have disabled the button and made the bar disappear after 20 seconds instead. Its only needed for a couple of weeks, this will be fine :)

[2019-02-21 08:59] #318 closed

[2019-02-21 11:13] Lindaleunissen opened #319 "Staff page "Read my blogs" links do not work"
Hiya! First some facts, followed by a request.

1. If I click the "Read my blogs" links on the team page, I get a 404 image.
2. The links were set up on staging as https://akvo.org/author/lindaleunissen/ and were supposed to display like the search results page
3. Instead I found a working link that is https://akvo.org/blog/author/lindaleunissen/ which displays like a blog overview page.

@designb

[2019-02-21 12:21] designbychris commented on #319
@samvthom16 can you check the link issue.

@Lindaleunissen I have fixed the header to be smaller and with the green background. Please refresh and take a look see :)

[2019-02-21 15:09] Lindaleunissen opened #320 "eq-col CSS"
@samvthom16
We’re using eq-col1 and eq-col2 on the following pages, but it’s not showing yet

https://akvo.org/fr/ameliorez-et-mettez-en-valeur-les-resultats-de-votre-programme/
https://akvo.org/fr/saisir-et-interpreter-les-donnees-qui-comptent/
https://akvo.org/es/nuestro-enfoque/
https://akvo.org/es/mejorar-y-exponer-los-resultados-de-su-programa/
https://akvo.org/es/

[2019-02-21 15:10] Lindaleunissen opened #321 "CSS Class="thin""
@designbychris

When title is set to class=”thin”, the lineheight should stay the same as without the thin class.
Example subheader of the form on the bottom of the page

[2019-02-21 15:17] Lindaleunissen commented on #321
https://akvo.org/fr/ameliorez-et-mettez-en-valeur-les-resultats-de-votre-programme/

[2019-02-21 15:21] #321 closed

[2019-02-21 18:42] #316 closed

[2019-02-27 15:37] designbychris opened #322 "Blog posts additional functionality"
Hi @samvthom16 can you add a tick box on the blog post backend, to allow the administrator to hide the featured image from the single.php display. Not from the loop on the list but just on the single post.

[2019-02-28 13:34] designbychris opened #323 "Akvo Logo Slider Mobile issue"
Hi @samvthom16 can you take a look at something on mobile for me?

The logo slider on mobile goes a bit small and funny. I was wondering if there was a way to change the number of logos it shows when its on a screen size smaller than about 768px to show one at a time?

I think that this might be something that you can fix in the jQuery.

Can you take a look and let me know.

[2019-02-28 14:21] designbychris opened #324 "Akvo Rotating Text mobile issue"
Hi @samvthom16 can you take another look at this widget on mobile.. as its having an issue again where the rotating text won't stay inline with the rest.

Can you have a look at this, I will also see if I can fix it with CSS. Just thought that you may have a solution.

[2019-02-28 14:25] designbychris commented on #323
Can we also sort a change for this on tablet size too? Maybe have it show a max of 4 on tablet sizes (probably up to 1000px or something like that).

[2019-03-06 08:34] designbychris commented on #309
@samvthom16 can you let me know when the extra advert featured image has been added so that we can finish this task off?

[2019-03-06 14:32] samvthom16 commented on #309
@designbychris I have pushed the code

[2019-03-06 14:33] samvthom16 commented on #324
@designbychris Please include some links for me to test the different use cases

[2019-03-06 14:34] samvthom16 commented on #323
$el.slick({
			slidesToShow	: $el.data('items'),
			slidesToScroll	: 1,
			autoplay		: true,
			autoplaySpeed	: 1500,
			arrows			: false,
			dots			: false,
			pauseOnHover	: false,
			responsive		: [{
				breakpoint	: 768,
				settings	: { slidesToShow: 4 }
			}, {
				breakpoint: 520,
				settings: { slidesToShow: 3 }
			}]
		});

[2019-03-06 14:37] samvthom16 commented on #322
@designbychris Need more context to understand what we are solving here. Also include some links as reference.

[2019-03-06 15:02] designbychris commented on #323
Ok that seems to be working, though I have changed it to 2 on the 520 breakpoint.. its not working as of yet. But it might just be a caching thing. So i'll check back later.

[2019-03-06 15:02] #323 closed

[2019-03-06 15:11] designbychris commented on #322
Essentially what we need to be able to do is allow us to hide the featured image from the single.php with a tick box in the backend on the posts. I've done it on this post: https://akvo.org/blog/six-things-you-need-to-know-about-akvo-in-2019/ but I had to do it using CSS, ideally this should be controlled from within the post to allow the show/hide of the featured image from the post itself.

Does

[2019-03-06 15:20] designbychris commented on #309
@samvthom16 can you rewrite this section of code to call the correct image URL?
`<?php $query2 = new WP_Query( 'post_type=advert&order=asc&orderby=date&posts_per_page=1' ); ?>
				<?php if ( $query2->have_posts() ) :?>
				<?php while ( $query2->have_posts() ) : $query2->the_post();
				$advert_url = get_post_meta($post->ID, 'url', true);
				$featured_img_url = get_the_post_thumbnail_url(get_the_

[2019-03-06 15:24] designbychris commented on #324
@samvthom16 please see the attached from my iPhone. If you go to the https://akvo.org/safe-water-for-all/ page on your mobile you will see the issue.

[2019-03-06 15:24] designbychris commented on #324
![img_2333](https://user-images.githubusercontent.com/2072475/53892278-e6b27980-4023-11e9-835c-9551637495a5.PNG)
![img_2334](https://user-images.githubusercontent.com/2072475/53892280-e6b27980-4023-11e9-8173-4fa0354fae45.PNG)

[2019-03-06 15:24] designbychris commented on #324
they just don't seem to want to line up with each other :( even though they are both set to display:inline :(

[2019-03-07 03:47] samvthom16 commented on #309
Use this code, inside the while loop:
if( class_exists('MultiPostThumbnails') && MultiPostThumbnails::has_post_thumbnail( 'post', 'background_header_image') ) {

			global $post;
			$image_id = MultiPostThumbnails::get_post_thumbnail_id( 'post', 'background_header_image', $post->ID );
			if( $image_id ){
				$image_src = wp_get_attachment_image_src( $image_id, 'full' );

				if( is_array( $image_s

[2019-03-07 08:47] designbychris commented on #309
@samvthom16 I have this code in the single.php, but its not displaying the Second Featured image.

Can you take a look at the single.php on line 96. This is where the loop is for the advert in the footer of the single.php is. I have a feeling i've either put it in the wrong place. Or i'm missing something to force it to change the image over.

[2019-03-07 16:56] Lindaleunissen opened #326 "New tweetable widget"
I've tried to use the new tweetable widget in my latest blog which I set up using the page builder.
The widget displays correctly but when you "click to tweet" The content isn't copied over into the tweet window.

Could you please have a look at that?
Thanks!

[2019-03-07 16:59] Lindaleunissen commented on #326
I was looking in preview mode, it works perfectly on the live site. Sorry!

[2019-03-07 16:59] #326 closed

[2019-03-08 02:48] samvthom16 commented on #309
@designbychris can you check if this is working now as expected?

[2019-03-08 02:53] samvthom16 commented on #319
@Lindaleunissen these links are stored in the DB and not generated automatically, which means that they would have to be updated manually.

[2019-03-08 02:56] samvthom16 commented on #324
@designbychris .nofade is not set to inline. That would set them to a single line.

[2019-03-08 08:33] designbychris commented on #309
@samvthom16 the correct advert isn't being displayed. If you go here:

https://akvo.org/blog/akvos-new-brand-identity/

and go to the bottom with the "You might also like..." section, and look at the advert, inspect the element, its showing as https://akvo.org/wp-content/uploads/2018/10/Ebook-Advert-2.jpg. In the backend of the site on the CPT post for this advert, the second featured image has be

[2019-03-08 08:42] designbychris commented on #324
@samvthom16 hmm yes. this isn't perfect.. I may have to look for an alternative way to achieve this which is more responsive friendly. Currently it works, but on some sizes it has issues.

I will review this with Linda.

I have set .nofade to inline again now (strangely it was set to inline. I must've removed it at some point lol)

[2019-03-11 06:44] samvthom16 commented on #309
@designbychris I have updated the code. It seems working.

[2019-03-11 09:11] designbychris commented on #309
@samvthom16 all seems happy now :) thanks

[2019-03-11 09:11] #309 closed

[2019-03-12 04:07] samvthom16 commented on #320
@Lindaleunissen None of these pages have eq-col1 or eq-col2 set

[2019-03-14 04:39] samvthom16 commented on #322
@designbychris Could you test this out for me please?

[2019-03-14 04:43] samvthom16 commented on #320
@designbychris can you confirm if this working please?

[2019-03-14 09:02] designbychris commented on #322
I can't see this working @samvthom16 can you check and let me know where this is set within the post in the backend?

[2019-03-14 09:02] designbychris commented on #320
@Lindaleunissen can you check this for me?

[2019-03-14 10:13] samvthom16 commented on #322
@designbychris had an issue with WP Pusher. You should find it now in the backend.

[2019-03-14 10:43] designbychris commented on #322
@samvthom16 this now works :) thanks

[2019-03-14 10:43] #322 closed

[2019-03-14 11:01] designbychris opened #330 "Apply Modal issue"
Hi @samvthom16 can you take a look at this page:

https://akvo.org/join-our-team/

We seem to have an issue with the last job on the list. It seems to not be happy and won't open up the modal window.

Can you take a look and see what the problem is?

[2019-03-21 04:42] samvthom16 commented on #330
@designbychris This is a tricky issue. The problem was since the data inside the modal of the button was the same, it was creating same ID for all the modal. That's why I had to introduce some hidden data in the content to create unique IDs. It seems to be working now.

[2019-03-21 08:37] designbychris commented on #330
Yeah not sure what the problem was, but it seems to be ok now :)

[2019-03-21 08:37] #330 closed

[2019-03-21 08:37] designbychris commented on #319
This seems to all be ok now

[2019-03-21 08:39] designbychris commented on #320
This looks all ok now to me

[2019-03-21 08:39] #320 closed

[2019-03-21 08:39] designbychris commented on #288
This is being closed, @Lindaleunissen can reopen it if she needs to

[2019-03-21 08:39] #288 closed

[2019-03-21 08:40] designbychris commented on #215
Closing thread for the timebeing, re-open it if needed.

[2019-03-21 08:40] #215 closed

[2019-03-25 05:09] samvthom16 opened #331 "Tag template is not working"
https://akvo.org/blog/tag/wash/

[2019-03-27 15:56] #331 closed

[2019-03-27 15:56] #5 closed

[2019-04-01 08:22] Lindaleunissen commented on #319
Read my blogs links on the staff page are still not working.

[2019-04-01 08:36] designbychris commented on #319
@samvthom16 not sure whats happened. Has someone updated the Permalinks?

[2019-04-01 09:01] samvthom16 commented on #319
@designbychris no updation has been done on the permalinks

[2019-04-01 09:03] samvthom16 commented on #319
@designbychris @Lindaleunissen the links from the custom fields needs to be updated manually. I can see that only some of them have been updated.

[2019-04-01 09:04] designbychris commented on #319
Ahhhh yes, thanks @samvthom16 I forgot we did that! @Lindaleunissen this still needs to be done for all the others with blogs. You will need to check against the ones that work and those that don't :)

I hope that helps?

[2019-04-01 11:02] Lindaleunissen commented on #319
I'm looking at the staff section of the page, and cannot see where I should update the url?

[2019-04-01 11:04] designbychris commented on #319
@Lindaleunissen its within the Akvo Staff, see this: https://akvo.org/wp-admin/post.php?post=52046&action=edit

[2019-04-01 11:06] Lindaleunissen commented on #319
Thanks! On it :)

[2019-04-01 11:52] #319 closed

[2019-04-03 09:10] designbychris opened #341 "Force https issue"
Hi @samvthom16 can you check something for me.

Laura is having an issue. When she types in the akvo.org url its not forcing https:// on some pages.

Namely when she types in akvo.org/newsletter into her browser.

Can you have a look and see if there is an issue on the htaccess or something like that not forcing https?

[2019-04-08 14:34] Lindaleunissen opened #346 "Harmonica content not showing in last tab on terms page"
I've entered content in the wordpress for the 'Version History' harmonica tab, however, this is not showing on the actual page. See screenshots below of backend and front end.
<img width="1216" alt="Screenshot 2019-04-08 at 15 33 11" src="https://user-images.githubusercontent.com/5338081/55732331-b50e4300-5a13-11e9-922f-4c946d18eff4.png">
<img width="1585" alt="Screenshot 2019-04-08 at 15 33 25" s

[2019-04-08 14:46] Lindaleunissen opened #347 "Team page re-order"
In the past we were able to adjust the order team member appear in on the team page. We seem to have lost that functionality with the new website. @samvthom16 I believe you were looking into this already, but since I cannot find an issue, adding it here now.

[2019-04-08 14:52] designbychris commented on #346
@samvthom16 can you take a look at this?

[2019-04-09 08:01] Lindaleunissen opened #348 "Logo carousels on devices"
The logo carousel on my (i)Phone now only shows 2 logos at a time in portrait mode, and 4 in landscape mode, which is perfect.

On my tablet (iPad Mini) however it shows 5 logos in both portrait and landscape mode. Can we also set that to reduce according to width? Maybe 3 in portrait mode?

Thanks!

[2019-04-09 08:04] designbychris commented on #348
@samvthom16 I think you set something for this. We may need to add a few more options to allow for this.

[2019-04-09 08:09] Lindaleunissen opened #349 "Advert distorting"
On my tablet (iPad Mini) the advert on the backstage blog is severely distorted. See screengrabs in landscape and portrait mode below.

![IMG_1881](https://user-images.githubusercontent.com/5338081/55783782-221ee880-5aa7-11e9-9c70-dbd42cf710e5.JPG)
![IMG_1880](https://user-images.githubusercontent.com/5338081/55783788-23e8ac00-5aa7-11e9-95a9-04359a56e1a3.JPG)

[2019-04-09 08:21] Lindaleunissen opened #350 "rotating sentence on impact area pages"
On smaller screens the breaking of the sentence is odd, stacking words on top of each other, rather than on a new line. We could possible break the sentence earlier (just before 'we need', which could avoid this on screens.

On my phone (iPhone 8) the text breaks fine, but the font is too small in portrait mode. See first image below

On my tablet (iPad mini) the sentence is wider than the screen,

[2019-04-09 08:40] Lindaleunissen opened #351 "font size bulleted paragraph on single blog post"
https://akvo.org/blog/six-things-you-need-to-know-about-akvo-in-2019/

Right at the bottom of that blog Alvaro used bullet points. The font size of those is smaller than the normal font size, even though both are set to 'paragraph'.
(I think this problem might not be limited to the blog, but we haven't used bullets elsewhere.. )

Can you please set it so that bulleted text is the same size are nor

[2019-04-09 09:03] Lindaleunissen opened #352 "Moving GIFs do not display in blog post on mobile"
https://akvo.org/blog/akvos-new-brand-identity/

The moving GIF looks fine on screen, but on my phone (iPhone 8) the GIF is not visible.

[2019-04-09 09:31] Lindaleunissen opened #353 "Anchor on policies page"
For GDPR reasons we need to have the Data Protection Agreement (DPA) clearly visible and easy to find. I was wondering if we can do the following:

Can we have a link that is Akvo.org/dpa which will take you to this page: https://akvo.org/policies, but with an anchor on the open DPA harmonica tab?

Thanks!

[2019-04-09 10:00] Lindaleunissen opened #354 "Stat widget design"
The statistics widget on the homepage (1A) and on the microstory page (1B) is the same widget with some additional code on the homepage to change the look of it.
The stats widget on the impact area pages (2) is a different one. It looks like 1A without an icon, but the font size is different.

Can you please do the following?
1) Keep widget 1B as it is.

2) Make 1A into a 'standard' widget which w

[2019-04-10 17:21] samvthom16 commented on #350
#324 Duplicate Issue

[2019-04-10 20:14] samvthom16 commented on #347
@Lindaleunissen  I have updated the live site with the appropriate plugin. Can you please confirm this for me?

[2019-04-10 20:17] samvthom16 commented on #348
@designbychris existing breakpoints are these -
breakpoint for 768, slidesToShow: 4
breakpoint: 520, slidesToShow: 2

Please give me exact number of items for each breakpoint

[2019-04-10 20:19] samvthom16 commented on #351
@designbychris There are too many conflicting styles regarding font-sizes. For example, body has a different font-size that is being inherited in the bulleted paragraph which is different from the post content. Is there a way we can resolve these conflicts by separating the different sets of font sizes than overriding?

[2019-04-10 20:25] samvthom16 commented on #354
@Lindaleunissen please can you share the links of the same. So far I know that we have only built one stats widget. The other widget being used as the stats widget is the featured widget which is one of the default widgets that comes with the page builder package.

[2019-04-11 07:50] designbychris commented on #351
@samvthom16 this was done because I was asked to make fonts different sizes on different sections to make them stand out more. If there is a specific section that needs to have specific font sizes, then I will need to make an override or spend time fixing ALL the font sizes across the board, which will take time. @Lindaleunissen will need to decide on this (after Alvaro has worked out budgets etc)

[2019-04-11 07:51] designbychris commented on #348
@samvthom16 if you look at the comment from @Lindaleunissen she says that she would like to have 3 in portrait mode on iPad. So it might be that you add another breakpoint at 960px or something like that for 4 to show and then at 768 you have 3 then at 520 you have 2.

Does that help?

[2019-04-11 12:42] samvthom16 commented on #349
@Lindaleunissen I have updated the image size. Please can you confirm this?

[2019-04-11 12:51] samvthom16 commented on #348
@Lindaleunissen I have updated the breakpoints

[2019-04-11 13:24] Lindaleunissen commented on #354
Widget 1B on microstory page:
https://akvo.org/stories/west-africa/designing-a-water-quality-monitoring-system-in-sierra-leone-with-unicef/
<img width="1229" alt="Screenshot 2019-04-11 at 14 20 30" src="https://user-images.githubusercontent.com/5338081/55960598-0b25f500-5c65-11e9-9e6c-ef7690c0aadd.png">

This is the same widget as on the homepage (1A), but on the homepage it has added code by Chri

[2019-04-11 13:26] Lindaleunissen commented on #351
@Chris, I thought in the end we decided that the paragraph font would be the same size across the site?
How much time would it take to change that?

[2019-04-11 13:29] designbychris commented on #351
@Lindaleunissen I thought that it was too.. unless something else has happened. I think it would take me an hour to sort out the override of all paragraph fonts across the site. But we might need more time after this is done, in case we have something going wrong somewhere.

If you want me to have a look at it, I have time on Monday next week :)

[2019-04-11 13:30] Lindaleunissen commented on #349
Distorting on iPad mini is still the same. I don't think it's the image size, rather the way the image is scaled down on the page, which is currently not done evenly.

[2019-04-11 13:31] Lindaleunissen commented on #348
Perfect! Thanks!

[2019-04-11 13:31] #348 closed

[2019-04-11 13:32] Lindaleunissen commented on #347
Yes works! Thanks Sam!

[2019-04-11 13:32] #347 closed

[2019-04-11 13:37] Lindaleunissen opened #357 "Header menu on tablet"
If I hold my iPad Mini in portrait mode, the header menu takes up double height, and allows for horizontal scrolling again. This was not an issue a few days ago, so might have something to do with the changes you made. Maybe we should set it to go to mobile view, with the hamburger symbol instead?

![IMG_2592](https://user-images.githubusercontent.com/5338081/55961700-5e00ac00-5c67-11e9-8191-3446a

[2019-04-11 13:45] Lindaleunissen commented on #351
@designbychris Thanks. Let me chat to Alvaro first. Will let you know when I get a go ahead.

[2019-04-11 13:45] designbychris commented on #351
No worries :)

[2019-04-11 13:48] Lindaleunissen opened #358 "Text width on mobile"
On mobile (iPhone 8) the text on the homepage in the ebook section only takes up half the width of the screen. Can you please have a look at that?

![IMG_8514](https://user-images.githubusercontent.com/5338081/55962432-c13f0e00-5c68-11e9-8801-d7e1fe8d3951.PNG)

[2019-04-16 07:57] samvthom16 commented on #358
@Lindaleunissen the collapse option was set to none for this row, it had to be set to standard. Can you confirm if this works for you?

[2019-04-16 07:58] samvthom16 commented on #357
@Lindaleunissen The issue is with the translation options that are displayed as a horizontal list, while testing they were a dropdown.

[2019-04-16 08:06] samvthom16 commented on #349
@Lindaleunissen will have to get on a call for this.

[2019-04-16 08:08] samvthom16 commented on #349
1. The text is included within the image.
2. The image aspect ratio has to be maintained as per the screen width

[2019-04-16 08:13] samvthom16 commented on #346
@Lindaleunissen please share the link

[2019-04-16 08:20] samvthom16 commented on #352
@Lindaleunissen the problem is that on the image section a margin of 200 px has been given which extremely reduces the rendering space for the image.

[2019-04-16 08:54] Lindaleunissen commented on #352
Thanks @samvthom16. Unfortunately now the gifs are static and not moving anymore (both on desktop and mobile). Could that have anything to do with the changes you made?

[2019-04-16 08:55] Lindaleunissen commented on #346
https://akvo.org/terms-of-service

[2019-04-16 08:57] Lindaleunissen commented on #349
It's currently also distorting on desktop. Ignore the text please, I can lay out a new image once I understand how the image is scaled down, but the image should not distort under any circumstance. Either scale it down or trim it.

[2019-04-16 09:03] Lindaleunissen commented on #357
@samvthom16 That's fine, but now that's been changed, can set it so that in portrait view on tablet the header menu behaves the same as on a mobile phone?

[2019-04-16 09:03] Lindaleunissen commented on #358
Much better. Thanks @samvthom16

[2019-04-16 09:03] #358 closed

[2019-04-16 11:55] samvthom16 commented on #357
@Lindaleunissen lets get a call on this on thursday because there are far too many overriding styles written for the same element that I can't figure what was the original plan.

[2019-04-16 11:57] samvthom16 commented on #349
@Lindaleunissen lets get a call on this on thursday because there are far too many overriding styles written for the same element that I can't figure what was the original plan. Also there is far too much blank space in the image itself that doesn't serve as a good reference.

[2019-04-18 04:20] samvthom16 commented on #346
@Lindaleunissen fixed this. The problem is when you copy paste content in the visual editor, it copies the content as it is with the html code. And the html code confuses the browser as it screws up with the semantics of the site.

Solution - copy paste into the text tab of the visual editor.

[2019-04-18 04:26] samvthom16 commented on #352
Should be working now.

[2019-04-18 04:42] samvthom16 opened #360 "Translations within the theme"
Where on website? | EN | ES | FR

Americas and West Africa regional pages | Want to visit one of our other offices? | ¿Quieres visitar una de nuestras oficinas? | Souhaitez-vous visiter un autre de nos bureaux ?

Clocks | Americas | Américas | Les Amériques

Clocks | West Africa | África Occidental | L’Afrique de l’Ouest

Clocks | East Africa | África Oriental | L’Afrique de l’Est

Clocks | South

[2019-04-18 05:13] samvthom16 commented on #360
@Lindaleunissen - I have added the translations. In case you want to update them, you can do it from here: https://akvo.org/wp-admin/admin.php?page=wpml-string-translation%2Fmenu%2Fstring-translation.php&context=akvo

[2019-04-18 05:16] samvthom16 opened #362 "Metadata not showing up on Google"
The metadata is filled in in Wordpress but not showing on Google - hope screenshots make issue clear! Same in FR and ES.
![Screen Shot 2019-04-16 at 14 53 45 - Georgia Walker](https://user-images.githubusercontent.com/1712132/56338300-2ba30180-61c7-11e9-89ea-c0ec0cbd636a.png)

[2019-04-18 05:17] samvthom16 commented on #362
So far the og tags are coming out correct, debugged here - https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fakvo.org%2Fcapture-and-understand-data-that-matters%2F

[2019-04-18 05:19] samvthom16 commented on #349
@Lindaleunissen I have updated the code to show the image without any trimming or scaling. I think the blank space within the image does not distinct itself.

[2019-04-18 05:21] samvthom16 commented on #353
@Lindaleunissen this is not possible within the current siteorigin accordion widget. For inline section links, we need IDs for that particular section which the widget does not provide.

[2019-04-18 09:04] samvthom16 commented on #354
@Lindaleunissen you can test the stats widget here: https://akvo.org/wp-admin/post.php?post=52686&action=edit&lang=en

There is a new option - theme added to the widget settings

[2019-04-18 09:07] samvthom16 commented on #350
@Lindaleunissen if the rotating phrases can be displayed on the next line then I can create a foolproof mechanism for them to work across all screen sizes without them breaking as I need to fix the width of that entire container. Right now the width is varying based on the phrase size.

[2019-04-18 09:47] samvthom16 commented on #351
@Lindaleunissen have done a quick fix for the time being. Can you confirm please?

[2019-04-23 09:00] Lindaleunissen commented on #351
Much better. Thanks @samvthom16

[2019-04-23 09:05] Lindaleunissen commented on #350
I'm happy with that.
There's still a risk of it looking odd. For instance a line with only one word before the rotating text, but we'll cross that bridge when (if) we get there.

[2019-04-23 09:07] Lindaleunissen commented on #354
Perfect!

[2019-04-23 09:16] Lindaleunissen commented on #354
Updated the widget on all affected pages.

[2019-04-23 09:16] #354 closed

[2019-04-23 09:17] Lindaleunissen commented on #353
OK. The redirect already helps loads. Thanks Sam!

[2019-04-23 09:17] #353 closed

[2019-04-23 09:19] Lindaleunissen commented on #349
Perfection. Thanks Sam.

[2019-04-23 09:19] #349 closed

[2019-04-23 09:27] Lindaleunissen commented on #360
Nice one Sam. Thanks!

[2019-04-23 09:33] Lindaleunissen commented on #352
Yes! thanks

[2019-04-23 09:33] #352 closed

[2019-04-23 09:36] Lindaleunissen commented on #346
Clear! Thanks for fixing it Sam!

[2019-04-23 09:36] #346 closed

[2019-04-23 10:34] samvthom16 commented on #350
@Lindaleunissen can work on an alternative like this -
https://codepen.io/gschier/pen/jkivt

[2019-04-23 10:52] Lindaleunissen commented on #350
Love that, and definitely would like to keep that in mind for the future, but in this case I think our sentences are too long for this treatment.
I'm happy for you to put the rotating phrases on the next line, and then we'll take it from there. :)

[2019-04-23 11:35] samvthom16 commented on #350
@Lindaleunissen found a better workaround without the need of the next line but maybe the animation is too fast, what do you think?

[2019-04-23 11:42] Lindaleunissen commented on #350
It's a bit fast, but looking good! If you can slow it down, then please do. If not, then leave it like this for now. Thanks @samvthom16 !

[2019-04-23 11:43] #360 closed

[2019-04-23 11:45] #351 closed

[2019-04-23 11:45] #324 closed

[2019-04-23 13:27] samvthom16 commented on #362
https://support.google.com/webmasters/answer/7489871?hl=en

[2019-04-23 13:39] samvthom16 commented on #362
Updated the robots.txt to
User-agent: *
Allow: /

[2019-04-23 13:53] #350 closed

[2019-04-25 10:36] samvthom16 commented on #362
@Lindaleunissen this has been fixed. You can also test it from your end.

[2019-04-25 10:36] #362 closed

[2019-04-25 11:33] samvthom16 commented on #357
@Lindaleunissen have updated the code. Can you please confirm this one?

[2019-04-25 12:09] samvthom16 commented on #341
Everytimes the SSL certificate is auto renewed the settings get flushed which needs to be updated to force redirect to https.

[2019-04-25 12:09] #341 closed

[2019-04-29 08:14] Lindaleunissen commented on #357
Yes, all good. Thank you!

[2019-04-29 08:17] Lindaleunissen commented on #362
Works!
Thanks @samvthom16

[2019-04-29 08:30] #357 closed

[2019-05-20 06:53] samvthom16 opened #368 "Annual Accounts PDF are not downloading."

[2019-05-20 07:13] samvthom16 commented on #368
https://akvo.org/who-we-are/our-organisations/

[2019-05-20 07:13] #368 closed

[2019-05-23 10:56] samvthom16 opened #370 "Similar urls for redirects can use regex"

[2019-05-23 10:58] samvthom16 commented on #370
/author/([^/]+)/?    https://akvo.org/who-we-are/meet-our-team/
/rsr/([^/]+)?            https://akvo.org/improve-and-showcase-your-results/

[2019-05-24 03:23] samvthom16 opened #371 "Featured images are not appearing within blog posts"

[2019-06-06 13:17] Lindaleunissen opened #373 "Please update Font aAwesome plug in"
I've just used a new Font [awesome icon](https://fontawesome.com/icons/sack-dollar?style=regular) on [this page](https://akvo.org/wp-admin/post.php?post=52809&action=edit&lang=en).

It's currently not showing, which usually means Font Awesome has had an update.
could you look into that for me?

Thanks @samvthom16 !

[2019-06-12 20:42] samvthom16 commented on #373
@Lindaleunissen I have updated the library. Its working now.

[2019-06-12 20:42] #370 closed

[2019-06-13 09:55] Lindaleunissen commented on #373
That works. Thanks!
I've noticed that on [this micro story page](https://akvo.org/stories/east-africa/using-citizen-science-to-monitor-the-health-of-nairobis-rivers/) The opening quote marks on the testimonial (blue block) are displayed as a little square. Could that be due to the update? Please have a look?

[2019-06-14 15:00] samvthom16 commented on #373
@Lindaleunissen Yes Linda, it was the update. I had to upgrade the styles for this in the theme.

[2019-06-17 08:26] Lindaleunissen commented on #373
Briliant. Thank you @samvthom16

[2019-06-17 08:26] Lindaleunissen commented on #373
Brilliant. Thank you @samvthom16

[2019-06-24 15:34] Lindaleunissen commented on #373
Hi Sam,

Just noticed that the linked in and twitter icons on the team page have disappeared
https://akvo.org/who-we-are/meet-our-team/

Please have a look when you can?
Thanks!

[2019-06-24 15:36] Lindaleunissen opened #375 "Read my blogs on team page"
Hi Sam,

If I click on 'Read my blogs' on this page https://akvo.org/who-we-are/meet-our-team/
it no longer takes you to a personal blog overview, but to the link below. Could you please find out what's happening there?
https://akvo.org/bloghttps:/akvo.org/who-we-are/meet-our-team/

Thanks, Linda

[2019-06-27 04:17] samvthom16 commented on #373
@Lindaleunissen Have fixed those icons. It seems that the new version has changed how the old brand icons were being loaded.

[2019-06-27 04:18] samvthom16 commented on #375
@Lindaleunissen There was a redirect that was causing all the author pages to the team page. I have disabled that redirect.

I just noticed that these posts don't have any featured images: https://akvo.org/blog/author/jeroen/. Should we use a default one?

[2019-06-27 08:15] Lindaleunissen commented on #375
It used to show the default image there. Not sure why not anymore, but in short, yes please!

[2019-06-27 08:16] Lindaleunissen commented on #373
Brilliant. Thank you!

[2019-07-02 15:10] Lindaleunissen commented on #373
I found another place where the icons aren't showing correctly. Could you have a look at the footer section?
Thanks!

[2019-07-03 03:41] samvthom16 opened #378 "Add Google Analytics"
https://developers.google.com/analytics/devguides/collection/analyticsjs/tracking-snippet-reference

[2019-07-03 12:54] samvthom16 commented on #373
@Lindaleunissen
The footer icons have also been fixed

[2019-07-03 12:54] #373 closed

[2019-07-03 12:54] #378 closed

[2019-07-03 12:55] samvthom16 commented on #375
Fixed default featured image with the help of a plugin

[2019-07-03 12:55] #375 closed

[2019-08-29 04:30] samvthom16 opened #381 "Update clocks"

[2019-08-30 05:27] samvthom16 opened #383 "Multiple accordions don't work on the same page"

[2019-08-30 12:54] psychome004 opened #385 "Pricing Page"

[2019-12-10 14:48] samvthom16 opened #386 "Clock hands not aligning"
Hi Sam,

I just noticed an issue where the clock hands don't align with the clocks in the 'other offices' section.

I'm using Chrome on a Mac, and re-adjusted my window size, because I needed to copy-paste some content across. I don't think it's a standard device size, which is why we haven't seen this issue before. Please see the screenshot attached.

Cheers, Linda

[2019-12-10 14:49] samvthom16 commented on #386
.jcgmt-clockHolder{ max-width: 150px; }

[2019-12-12 05:05] #383 closed

[2019-12-12 05:05] #381 closed

[2019-12-12 05:06] #385 closed

[2019-12-12 05:07] samvthom16 opened #388 "Custom css for hubspot CTA"
Hi Sam,

I hope this message finds you well. We'd like to start tracking the clicks on the call-to-action(CTA) buttons on our website in HubSpot.

HubSpot give the option to create such buttons in the system and then copy the code to our website but the design is not in line with our brand. However, we have the possibility to use custom CSS to redesign those buttons.

Here's the link to CTA button

[2019-12-12 16:55] Lindaleunissen opened #389 "Akvo bullet list widget"
On the pricing page (https://akvo.org/wp-admin/post.php?post=54341&action=edit&lang=en)
we've got the bullet list widget that you build for us. Could you make some changes to that?

1 - We'd like to be able to change the colour of the icon and first column of text
2 - We'd like fading to be separate from the text colour change.

So in practice I want to be able to set the text to all black or with

[2019-12-12 17:01] Lindaleunissen opened #390 "Alternative bullet widget (New homepage)"
We've build a new homepage in the backend, that needs some tweaks before it can go live. Homepage wp link: https://akvo.org/wp-admin/post.php?post=55636&action=edit&lang=en

In the section called pain points we need a few tweaks:
1 - the icons need to sit in front of the text (so the second line of text starts in line with the first line)
2 - The icon needs to be coloured (and colour should be opt

[2019-12-12 17:04] Lindaleunissen opened #391 "Line spacing (New homepage)"
We've build a new homepage in the backend, that needs some tweaks before it can go live. Homepage wp link: https://akvo.org/wp-admin/post.php?post=55636&action=edit&lang=en

In the section named 'two fields' we used two different heading sizes to display a title and a subtitle. Because they are both titles, the spacing between the two lines looks off - it's slightly to large. Can you reduce that b

[2019-12-12 17:06] Lindaleunissen opened #392 "Images as buttons (New homepage)"
We've build a new homepage in the backend, that needs some tweaks before it can go live. Homepage wp link: https://akvo.org/wp-admin/post.php?post=55636&action=edit&lang=en

In the section called 'two fields' we'd like to use the icons as buttons. At the moment the images are already clickable and linked. However, it would be good if the image could change on hover (I'll invert the icon colours fo

[2019-12-12 17:10] Lindaleunissen opened #393 "New trust block (New Homepage)"
We've build a new homepage in the backend, that needs some tweaks before it can go live. Homepage wp link: https://akvo.org/wp-admin/post.php?post=55636&action=edit&lang=en

In the row called 'trust block' it currently shows a logo carousel. We'd like this row be a combination of two widgets we already have.

On the left we'd like 3 spots for metrics - like the vanity metrics row we have on the cu

[2019-12-16 12:21] samvthom16 commented on #391
@Lindaleunissen Can you confirm if the fix has worked?

[2019-12-16 12:22] samvthom16 commented on #393
@Lindaleunissen can you confirm if this is working now?

[2019-12-17 13:01] Lindaleunissen commented on #391
Looks amazing. Thank you!

[2019-12-17 13:02] Lindaleunissen commented on #393
It works, but we might have to tweak a few things so it looks better visually. I'll get back to you regarding that.

[2019-12-19 11:00] #391 closed

[2019-12-19 11:26] Lindaleunissen commented on #389
At the moment the widget is set up as follows.
I enter text in the widget, which on the website automatically shows as blue and black:
<img width="917" alt="Screenshot 2019-12-19 at 11 18 10" src="https://user-images.githubusercontent.com/5338081/71169621-4abfca80-2251-11ea-9f05-809914172f78.png">

For each line in the widget I can choose to check the box called faded, which automatically makes th

[2019-12-20 10:17] psychome004 commented on #389
https://github.com/akvo/Akvo-Theme/commit/ca6c39f3c79cc283205c1f0b308ad0ec13fbb13a
Updated akvo-bullet-list-sow

[2019-12-30 09:12] #386 closed

[2019-12-30 09:12] #371 closed

[2019-12-30 09:12] #388 closed

[2020-01-08 08:06] samvthom16 opened #395 "Improve SEO"
A consultant has provided us with a list of technical recommendations to improve our SEO (attached). Some of the changes are for the marcomms team (such as improving the content structure) but most are on the technical side. Do you have website hours to implement the recommendations before the end of the year or early next year? If anything is unclear, you can contact the consultant at info@11-int

[2020-01-08 08:07] samvthom16 commented on #395
https://drive.google.com/file/d/1OihQWcpXUBbM-s-aNn2w7bP6nCfmY2gb/view

[2020-01-09 10:18] samvthom16 commented on #395
Internal Linking using using Velvet Blues Update URLs plugin to replace URLs starting with http to https

[2020-02-04 17:03] #392 closed

[2020-02-04 17:04] Lindaleunissen commented on #390
We can park this for now.

[2020-02-04 17:04] #390 closed

[2020-02-04 17:05] Lindaleunissen commented on #389
Works! Thanks!

[2020-02-04 17:05] #389 closed

[2020-02-04 17:05] Lindaleunissen commented on #393
Let's park this for now.

[2020-02-04 17:05] #393 closed

[2020-02-04 17:21] Lindaleunissen opened #396 "New header"
In line with the new homepage, we also want to update the website header.
It'll be much simplified.

<img width="1010" alt="Header menu" src="https://user-images.githubusercontent.com/5338081/73769590-d72b3b80-4772-11ea-9773-5caddaaf825d.png">

- [ ] The logo on the right side stays as is. (with the dot colour changing on each page load)
- [ ] The main header menu can be removed.
- [ ] On the righ

[2020-02-04 17:30] Lindaleunissen opened #397 "New footer"
With the launch of the new homepage, we also want to update the footer of the website.

The new footer is basically a collection of hyperlinks grouped in 6 columns. Please see the mock up attached.

<img width="1102" alt="Footer" src="https://user-images.githubusercontent.com/5338081/73770282-0e4e1c80-4774-11ea-892d-e32817f0a542.png">

[2020-02-05 03:21] samvthom16 commented on #397
@Lindaleunissen my only concern with the design is that it might get cluttered for medium screen sizes. Also the menu item "Sustainable smallholder farming", in which the second line is indented cannot be achieved as there are no straightforward css rules for that.

[2020-02-05 03:24] samvthom16 commented on #396
@Lindaleunissen how does the menu open on click of the hamburger? Any visuals for that as well would help.

[2020-02-05 10:09] Lindaleunissen commented on #397
@samvthom16 Can we stack the footer on smaller screens? Maybe have 3 columns and 2 rows. And on even smaller screens, 2 columns and 3 rows?

As for the longer menu items, (sustainable smallholder farming) this was just an idea of how to show it's one item rather than two. This could also be achieved in different ways, for instance by increasing the line height in between links so that the text of

[2020-02-05 10:10] Lindaleunissen commented on #396
@samvthom16 At the moment I'm thinking, it'll look the same as a dropdown does in the current website header, but I'm not sure what is best practice here. Open to any ideas you have.

[2020-02-05 10:41] Lindaleunissen commented on #396
I just realised I've forgotten about the search icon. Can you also put that in the hamburger drop down?

[2020-02-05 11:53] Lindaleunissen opened #398 "Homepage header image text"
On the homepage we'd like the text on the main image to stand out a bit more. The positioning needs to change and the colour palette too. Additional a button needs to be overlaid on the image. This should be a HubSpot generated button.

For new lay-out please see image attached. The text is 90% final, but should be editable in the backend.

For future use across the rest of the website, it would b

[2020-02-05 11:55] Lindaleunissen commented on #398
Link to the wordpress where I've started building the page as far as I could.
https://akvo.org/wp-admin/post.php?post=56455&action=edit&lang=en

[2020-02-05 12:17] Lindaleunissen opened #399 "Homepage value stack"
On the new homepage, just under the main image we show a value stack; 3 benefits of using Akvo. https://akvo.org/wp-admin/post.php?post=56455&action=edit&lang=en

To make the values to stand out more individually we'd like a vertical line in between each of them. A subtile white line should do the trick. See attached mock up.

![Value stack](https://user-images.githubusercontent.com/5338081/738409

[2020-02-05 12:31] Lindaleunissen opened #400 "Link on header text"
On the [new homepage](https://akvo.org/wp-admin/post.php?post=56455&action=edit&lang=en
) in the design-capture-understand-act section - (value proposition)

We've used a link on a header 4 (with class thin). At the moment the link is underlined only on hover. Can you make that line show even without hovering over to highlight that there is a link there?

<img width="1096" alt="Link under data jou

[2020-02-05 12:37] Lindaleunissen opened #401 "Connect step icons with horizontal line"
On the [new homepage ](https://akvo.org/wp-admin/post.php?post=56455&action=edit&lang=en
) there is a section called "the plan".

Under the header "Start today" there are 3 icons that show the steps people need to take to start working with us. It would be nice if there were horizontal white lines between the icons to show the steps are connected.

<img width="1102" alt="3 steps to take" src="http

[2020-02-05 13:05] Lindaleunissen opened #402 "Read more/less links on explanatory paragraph"
On the [new homepage](https://akvo.org/wp-admin/post.php?post=56455&action=edit&lang=en)
There is an explanatory paragraph. At the moment the full paragraph is showing.

Instead we'd like a read more link at the end of the first paragraph, that will unfold the rest of the copy on the same page.
<img width="1104" alt="Explanatory text - read more" src="https://user-images.githubusercontent.com/5338

[2020-02-06 04:51] samvthom16 commented on #401
@Lindaleunissen do you have a reference link? I'm not sure how the horizontal line would cut through individual isolated columns and at the same time keeping this responsive.

[2020-02-06 04:55] samvthom16 commented on #398
@Lindaleunissen I see that a widget already exists in the backend: Akvo Slider. You want the above customisation options in the same widget right?

[2020-02-06 05:13] samvthom16 commented on #396
@Lindaleunissen : if you prefer a dropdown, could you please add a visual? Another example would be something like this: https://www.evomedia.lt/en

[2020-02-06 09:52] Lindaleunissen commented on #401
I stole the idea from [this website](https://www.mistercoverletter.com/). There is a plan section further down the page, which shows step 123.

[2020-02-06 09:54] Lindaleunissen commented on #398
Yes, I reckon that would be the best option.

[2020-02-06 09:57] Lindaleunissen commented on #396
That looks really nice. Let me check with the team. I'll get back to you on this one!

[2020-02-11 13:18] Lindaleunissen opened #403 "Third parties page"
On the old version of Akvo.org we had a third parties page. It was basically a standard page that pulled in data from a google spreadsheet.

We need that page back. I'm thinking Akvo.org/thirdparties

The spread sheet can be found [here](https://docs.google.com/spreadsheets/d/1YiFD0qcQrep_4sPRf9yciG-riUOohSf7SnlBLgY52qM/edit#gid=0)

I currently don't have editing rights to this page, but have requ

[2020-02-11 13:41] Lindaleunissen commented on #403
Update: I now have editing rights and have done some basic font changes, etc. which we can adjust further if necessary.

[2020-02-12 04:47] samvthom16 commented on #403
@Lindaleunissen Hello Linda I would need more context to this issue since I wasn't aware of the page in the old version.

[2020-02-12 09:49] Lindaleunissen commented on #403
I'm not sure I can give you more context. It's something Lynn set up I think. It was basically a google sheet that was displayed (view only) on the website. I'm guessing through a plug in?

[2020-02-12 09:52] Lindaleunissen commented on #403
It's basically so that if the sheet gets updated, the page will automatically sync. I reckon [this plugin](https://embedpress.com/docs/embed-google-sheets-wordpress/) might work? There might be better ones available though.

[2020-02-13 06:39] samvthom16 commented on #402
@Lindaleunissen we have updated this page. Can you confirm if this works?

[2020-02-13 06:39] samvthom16 commented on #401
@Lindaleunissen We have pushed this widget on live. Can you please confirm if this is working?

[2020-02-13 06:43] samvthom16 commented on #400
@Lindaleunissen have updated this. Please confirm if this works.

[2020-02-13 12:50] Lindaleunissen commented on #400
Beautiful. Thanks!

[2020-02-13 12:50] #400 closed

[2020-02-13 12:51] Lindaleunissen commented on #401
Looks wonderful. Thank you!

[2020-02-13 12:51] #401 closed

[2020-02-13 12:52] Lindaleunissen commented on #402
Works great. Thank you!

[2020-02-13 12:52] #402 closed

[2020-02-13 12:58] Lindaleunissen commented on #396
@samvthom16 I've shared a few options with the team, and we've decided to go with your solution for the menu. https://www.evomedia.lt/en

I've also found this: https://tamino-martinius.github.io/ui-snippets-menu-animations/
Would be lovely if you can incorporate that.

I noticed that the current hamburger on mobile includes the language toggle. I'm wondering if we should put the languages in the n

[2020-02-14 04:59] samvthom16 commented on #396
@Lindaleunissen In my opinion, having the languages dropdown within the menu would bury it quite deep.

[2020-02-14 05:32] samvthom16 opened #404 "Admin Warnings"
create_function() is deprecated in ``` \wp-content\themes\Akvo-Theme\functions.php ``` on line 52

undefined index: context in \wp-content\themes\Akvo-Theme\lib\class-akvo-admin.php on line 422

undefined index: priority in \wp-content\themes\Akvo-Theme\lib\class-akvo-admin.php on line 424

Cannot modify header information - headers already sent by (output started at \wp-content\themes\Akvo-Theme\

[2020-02-17 10:20] samvthom16 commented on #399
@Lindaleunissen can you confirm if this working?

[2020-02-17 10:25] samvthom16 commented on #398
@Lindaleunissen for me to test the hubspot button, I need an embed from hubspot that we can use

[2020-02-18 09:41] Lindaleunissen commented on #396
"@Lindaleunissen In my opinion, having the languages dropdown within the menu would bury it quite deep."
Thanks for your input Sam. I'm happy to go with that, so leave them in the header menu as described above.

[2020-02-18 09:49] Lindaleunissen commented on #399
Looks great. Thank you!

[2020-02-18 09:58] Lindaleunissen commented on #398
@samvthom16 Here is the button embed code:
<span class="hs-cta-wrapper" id="hs-cta-wrapper-c121e58b-7132-4e02-8aa7-db4122167850"><span class="hs-cta-node hs-cta-c121e58b-7132-4e02-8aa7-db4122167850" id="hs-cta-c121e58b-7132-4e02-8aa7-db4122167850"><a href="https://cta-redirect.hubspot.com/cta/redirect/1891949/c121e58b-7132-4e02-8aa7-db4122167850" ><img class="hs-cta-img" id="hs-cta-img-c121e58b-71

[2020-02-18 10:00] Lindaleunissen commented on #398
Ok, looks like Hubspot has interpreted some of that code. I'll put it in a form and send it over to you, so you have the complete thing.

[2020-02-18 14:14] #399 closed

[2020-02-18 14:40] Lindaleunissen commented on #398
The latest update on this widget has caused a problem on another page. https://akvo.org/contact-us/get-in-touch/ ( or https://akvo.org/wp-admin/post.php?post=48625&action=edit&lang=en)

I managed to set the colour on the get in touch page back to black and white, which works really easily. But I can't set the alignment. At the moment the Get in touch aligns to the right. I'd like it to align to th

[2020-02-19 09:15] samvthom16 commented on #396
@Lindaleunissen can you check this testing site for the header and footer: https://orbit1.sitehub.in/akvo/

I was not able to copy the content. So this will only serve as a visual reference and the links are not working as of now. Let me know if I have missed anything.

[2020-02-19 10:21] Lindaleunissen opened #406 "Clock hands not centered in clock widget"
The arms of the clocks in the clock widget are off center.
With the launch of the new homepage the clocks will only be visible on the regional pages I think, so quite buried. So please do homepage stuff before this one.

<img width="1285" alt="Screenshot 2020-02-19 at 10 20 18" src="https://user-images.githubusercontent.com/5338081/74825241-80406d00-5301-11ea-87e5-c9e148a0d4dd.png">

Example: http

[2020-02-19 10:21] Lindaleunissen commented on #396
@samvthom16
Thanks for this. Is looking good! Here's my initial feedback, there might be more after Alvaro has a look at it too, but that's not until later this week.

Hamburger menu fold out:
Works well. I like how the background fades back. Please adjust the following though:
- Make all text in the menu sentence case in stead of upper case.
- Remove a few menu items - we only need Impact areas,

[2020-02-19 14:34] Lindaleunissen commented on #406
Also just realised that the times are not correct. The Europe clock is an hour ahead.

[2020-02-19 16:07] Lindaleunissen commented on #396
@samvthom16

I think I've worked out some of the remaining issues. Please see the mock up below.
- Let's put languages in the hamburger menu after all - the header menu looks more clear that way. Since we only. have 3 menu items in here, there's plenty of room.
- Under the languages we can have a search icon. When the icon is clicked a line appears (ideally animated from left to right) where you c

[2020-02-20 17:23] samvthom16 commented on #396
@Lindaleunissen please can you review the test site again

[2020-02-26 09:43] Lindaleunissen commented on #396
It's looking wonderful. I only have 2 minor adjustments.
1. Can you make the search icon the same colour dark grey as the text?
2. Can you set the social media icons so they change to Akvo green on hover - like they also do in the footer?

That's it. It's looking really nice and coming together beautifully. Thanks Sam!

[2020-02-26 09:48] Lindaleunissen commented on #398
@samvthom16 At the moment the text on the new homepage still isn't centred to the page.

We're also still missing the button overlaying the image.

[2020-02-26 15:01] Lindaleunissen commented on #403
@samvthom16
I've got a request from the management team to get this page live. The link that needs to be displayed is https://docs.google.com/spreadsheets/d/1YiFD0qcQrep_4sPRf9yciG-riUOohSf7SnlBLgY52qM/edit#gid=0

And the ideal URL for this page would be akvo.org/third-parties.

Can you make that happen?
Thanks!

[2020-02-27 05:29] samvthom16 commented on #403
@Lindaleunissen to embed the page I would need editing rights to the document.

[2020-02-27 06:50] samvthom16 commented on #398
@Lindaleunissen updated this, are the styles of the button okay?

[2020-02-27 09:40] Lindaleunissen commented on #403
Done!

[2020-02-27 09:42] Lindaleunissen commented on #398
@samvthom16 Can you make the outline of the button white? Otherwise it's all good!

[2020-02-27 09:55] samvthom16 commented on #403
@Lindaleunissen embedded the sheet here: https://akvo.org/wp-admin/post.php?post=57360&action=edit&lang=en

[2020-02-27 10:00] samvthom16 commented on #396
@Lindaleunissen I have made those changes on the test site. Please review.

Also I would need the hubspot code for "Request a consultation" button so that I can test it out.

Do give me a heads up before we launch the header & footer because as of now I'm maintaining these changes on a different version. And I would need time to merge them and fix if any conflicts happen.

[2020-02-27 10:02] samvthom16 commented on #398
@Lindaleunissen fixed. Can we close this?

[2020-02-27 10:03] Lindaleunissen commented on #398
Absolutely! Thank you!

[2020-02-27 10:03] samvthom16 commented on #406
@Lindaleunissen can you tell me the timings here in GMT for Europe?

[2020-02-27 10:05] Lindaleunissen commented on #403
Thank you!

I'm trying to add a colourful header to the page, like we have on other pages, but it doesn't show?

Also the fonts seem to have defaulted to Arial or Helvetica, even though I've set the file up in the correct font.

Anything you can do about that?

[2020-02-27 10:12] Lindaleunissen commented on #396
Thanks for the changes. The social media buttons seem to wobble about a bit on hover. Can you set them either so that they stay stable at the bottom as they do on the footer. OR they don't change size, only colour.

I'll send you the code for the button through the form, as github will try to interpret the code.

[2020-02-27 10:16] Lindaleunissen commented on #406
Brilliant thanks.

Currently Europe is GMT+1 (CET)
on 29 March that will change to GMT+2 (CEST)

[2020-02-27 14:59] Lindaleunissen commented on #398
Hi Sam, I reopened this issue, as I just realised that the headers on ALL pages have changed in size and colour. Only the homepage should show this new header style for now, everything else should've remained looking the same. When we are updating pages we might want to update the header style too, but for the moment we don't.

[2020-02-28 06:22] samvthom16 commented on #398
@Lindaleunissen reverted to the default settings.

[2020-03-02 06:57] samvthom16 commented on #396
@Lindaleunissen have you sent the code already?

[2020-03-02 07:05] samvthom16 commented on #396
@Lindaleunissen have included the hubspot code in the header

[2020-03-02 07:11] samvthom16 commented on #403
@Lindaleunissen I have fixed the header. Can you please send me a screenshot from where you set the correct fonts in the sheet?

[2020-03-03 11:48] Lindaleunissen commented on #403
@samvthom16 Thanks for this. Header looks great.
I've set the fonts correctly in the original google doc. They seem to get converted when it displays on the website.

https://docs.google.com/spreadsheets/d/1YiFD0qcQrep_4sPRf9yciG-riUOohSf7SnlBLgY52qM/edit#gid=0

[2020-03-03 11:53] Lindaleunissen commented on #396
Brilliant, thank you!

[2020-03-03 11:55] Lindaleunissen commented on #398
Brilliant. Thanks!

[2020-03-04 09:45] samvthom16 commented on #396
@Lindaleunissen any idea when we are going to release this?

[2020-03-04 09:52] samvthom16 commented on #403
https://support.google.com/sites/thread/12258111?hl=en

[2020-03-04 10:35] Lindaleunissen commented on #403
Thanks for that Sam. It worked on the old site though? Maybe that was a different plugin? Is there any way we can find out what was used then?

[2020-03-04 10:42] samvthom16 commented on #403
@Lindaleunissen hello Linda I'm still working on it. That was for my reference :)

[2020-03-12 14:17] Lindaleunissen commented on #396
Thanks for getting the page live today, @samvthom16 , we've received some nice feedback already!

Someone spotted a problem with the header menu button on firefox though. The text in the button is black, so blends in with the background. Could you have a look at it? Thank you!

![2020-03-12_1310x144_scrot](https://user-images.githubusercontent.com/5338081/76530736-15033a00-646c-11ea-8241-9f442e047

[2020-03-13 06:14] psychome004 commented on #396
![request](https://user-images.githubusercontent.com/44089178/76594772-01191000-6520-11ea-9922-b4ff051d6741.png)

[2020-03-17 14:36] Lindaleunissen commented on #396
Hiya. I've checked in with the person who flagged it to me. He said: It could be something related to my browser ... I have lots of add-ons that block tracking requests ... not sure if the button linked to hubspot is somehow blocked and renders like that.

It indeed looks fine on firefox without add-ons, so I reckon we can ignore it. Thanks though!

[2020-03-17 14:36] #396 closed

[2020-03-17 16:15] Lindaleunissen commented on #403
@samvthom16 Now the homepage is done, could you please have another look at this issue? Happy to help with anything you need.

[2020-03-18 12:12] samvthom16 opened #408 "French Homepage"
Hi Sam,

I've got the first translations (French) in for the home page. I'd like to start setting up the page, but when I click the translations button, it takes me to the current French home page, which is obviously a different set up to the new English home page.

How can I best go about setting up the new French page? Ideally I'd start with the English content and replace things, so all the pad

[2020-03-18 12:13] samvthom16 commented on #406
@Lindaleunissen can you confirm if this is working?

[2020-03-18 12:16] #397 closed

[2020-03-18 15:09] Lindaleunissen commented on #406
Yes, works fine. Thank you!

[2020-03-18 15:09] #406 closed

[2020-03-18 18:01] Lindaleunissen commented on #398
@samvthom16 Can you set the header on the blog to look like the 'standard' treatment too? At the moment that is set the same way as the homepage, and I can't change the blog header myself.

I'm talking about this page: https://akvo.org/blog/

It should look like this link: https://akvo.org/blog/akvo-is-looking-for-a-new-ceo/

Thanks!

[2020-03-19 08:48] samvthom16 commented on #403
@Lindaleunissen used another plugin this time. Can you confirm if the this is working?

[2020-03-19 11:06] Lindaleunissen commented on #403
@samvthom16
Thanks for this. The formatting works, as it currently shows the right fonts, etc.

However, it almost looks like an iframe? I can see the entire interface of google sheets, I can even log in and make changes, which looks odd. Is there any way you can hide that upper bit of the frame?

Thanks!

[2020-03-19 14:20] samvthom16 commented on #403
@samvthom16 please check again

[2020-03-19 14:32] Lindaleunissen commented on #403
@samvthom16 Looks fantastic. Thank you!

[2020-03-19 14:32] #403 closed

[2020-03-23 05:31] samvthom16 commented on #398
@Lindaleunissen can you share a screenshot of what you see here: https://akvo.org/blog/

[2020-03-24 10:43] Lindaleunissen commented on #398
It's all looking good now! Thank you!

[2020-03-24 10:43] #398 closed

[2020-03-24 12:16] samvthom16 opened #409 "Akvo slider height issues"

[2020-03-26 09:47] samvthom16 opened #410 "Hubspot button looks different"
Hi Sam,

I've just uploaded a microstory to the website and noticed that the 'request a consultation button' in the header changed on that page.

Normally it looks like attachment 1, but on this page (https://akvo.org/stories/west-africa/setting-up-a-community-led-total-sanitation-clts-monitoring-system-in-mauritania/) it looks like attachment 2.

Linda

[2020-03-26 09:48] samvthom16 commented on #410
<img width="517" alt="Screenshot 2 - Linda Leunissen" src="https://user-images.githubusercontent.com/1712132/77633136-055c1900-6f75-11ea-99a8-6efa5d48a99b.png">

[2020-03-26 09:49] samvthom16 commented on #410
`#navbar .hubspot-btn a[href]{ line-height: 20px; }`

[2020-03-26 09:52] samvthom16 commented on #409
@Lindaleunissen : do we have a list of pages where the Akvo Slider is being used?

[2020-03-26 10:14] Lindaleunissen commented on #409
@samvthom16 Sorry haven't gotten to this yet. Thanks for the reminder, I'll try to get it together for you today.